Date - 06/06/2021  09:15 AM to 11:30 AM

# Measure Of Central Tendancy

Measure of central tendancy is also known as summary statistics that is used to represent the central point of a particular value of data set or a sample set.

In statistics, there are 3 common measure of central tendancy :
- Mean
- Median
- Mode

## Mean:

Mean is also known as average.

Formula : Sum of all the terms / Total number of terms

### Example:

In [1]:
data = [21.3, 20.8, 18, 15]
print(data)

[21.3, 20.8, 18, 15]

In [2]:
# sum of all the terms

sum_of_terms = 0
for number in data:
    sum_of_terms += number
sum_of_terms

75.1

In [3]:
# total number of terms

total_terms = len(data)
total_terms

4

In [4]:
# find the mean

mean = sum_of_terms / total_terms
mean

18.775

In [3]:
def mean(data):
    total_terms = len(data)
    sum_of_terms = sum(data)
    res = sum_of_terms / total_terms
    return res

In [4]:
data = [21.3, 20.8, 18, 15]
mean(data)

18.775

## Median:

Median is the mid point of the sample data.

Step 1. arrange the samples into lowest to highest order
Step 2. Check sample data is even or odd.

=> In case of even number of sample data:

Step 3. Find the mid value & mid+1 th value.
Step 4. Sum of these values and devide by 2.

Formula: [(n/2)th + (n/2+1)th ]/2

=> In case of odd number of sample data:

Step 3. Find the mid value

Formula: (n/2)th value

### Example: 1

In [5]:
data = [15, 18, 20.8, 21.3]

In [6]:
# arrange the sample data
data.sort()
data

[15, 18, 20.8, 21.3]

In [7]:
# check size of data is odd or even
size = len(data)
if size%2 ==0:
    print(size,"is even.")
else:
    print(size,"is odd.")

4 is even.

In [8]:
# for even numbers

mid = int(size/2)
mid_1 = int(mid+1)

In [9]:
#find the values
mid_value = data[mid-1]
mid_1_value = data[mid_1-1]

mid_value, mid_1_value

(18, 20.8)

In [10]:
# sum of these values

sum_val = mid_value + mid_1_value
sum_val

38.8

In [11]:
# devide by 2

median = sum_val/2
median

19.4

### Example: 2

In [12]:
data = [15, 18, 20.8, 21.3, 19.5]

In [13]:
#arrange the values
data.sort()
data

[15, 18, 19.5, 20.8, 21.3]

In [14]:
# check the size

size = len(data)
if size%2 ==0:
    print(size,'is even')
else:
    print(size,'is odd')

5 is odd

In [15]:
# odd number of size

mid = int(size/2)

In [16]:
median = data[(mid+1)-1]
median

19.5

In [5]:
def median(data):
    data.sort()
    size = len(data)
    if size%2 ==0:
        mid = int(size/2)
        mid_1 = int(mid+1)
        mid_value = data[mid-1]
        mid_1_value = data[mid_1-1]
        sum_val = mid_value + mid_1_value
        res = sum_val/2  
    else:
        mid = int(size/2)
        res = data[(mid+1)-1]
    return res

In [6]:
data = [15, 18, 20.8, 21.3]
median(data)

19.4

In [7]:
data = [15, 18, 20.8, 21.3, 19.8]
median(data)

19.8

## Mode

Mode is the most repeatative value of the dataset.

Step 1. Arrange the dataset lowest to highest order.
Step 2. Count the most repeatative value.

### Example

In [22]:
sample = [10, 2, 3, 4, 2, 6, 4, 2, 7, 7, 2]

In [23]:
# arrange the values
sample.sort()
sample

[2, 2, 2, 2, 3, 4, 4, 6, 7, 7, 10]

In [36]:
# count the most repeatative value

sample_data = {}
for data in sample:
    if data not in sample_data.keys():
        sample_data[data] = sample.count(data)
sample_data

{2: 5, 3: 1, 4: 1, 1: 2, 7: 2}

In [37]:
# find the most repeatative value

mode = max(sample_data, key = sample_data.get)
mode

2

In [8]:
def mode(data):
    data.sort()
    sample_data = {}
    for val in data:
        if val not in sample_data.keys():
            sample_data[val] = sample.count(val)
    ans = max(sample_data, key = sample_data.get)
    return ans

In [9]:
sample = [10, 2, 3, 4, 2, 6, 4, 2, 7, 7, 2]
mode(sample)

2