Date - 18/05/2021  04:30 PM to 06:00 PM

# Database Connectivity

- MySQL Connector Python
- PyMySQL

- Install the MySQL Connector Library
- Import MySQL Connector Library
- Use the connect() method with the required arguments
- Use the cursor() method to create cursor object that performs various SQL operations
- Use the execute() or executemany() or executeall() method that runs the SQL Query
- Extract the result using the fetchall() or fetchone() or fetchmany() to read the query
- close the cursor and connection objects

## Installing & Importing MySQL Connector

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in f:\anaconda3\lib\site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in f:\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.0)
Requirement already satisfied: six>=1.9 in f:\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
import mysql.connector

## Code to connect to MySQL DB in Python

In [7]:
import mysql.connector
from mysql.connector import Error  # this is for knowing the error if occured in connectivity

try:
    con = mysql.connector.connect(host = "localhost", user = "root", password = "root")
    
    if con.is_connected():
        db_info = con.get_server_info()
        print("Connected to MySQL Server, version is",db_info)
        cur = con.cursor()
        cur.execute("SHOW DATABASES;")
        record = cur.fetchall()
        print("Databases :",record)

except Error as e:
    print("Error while connecting",e)
    
finally:
    if con.is_connected():
        cur.close()
        con.close()
        print("Connection is closed...")

Connected to MySQL Server, version is 8.0.25
Databases : [('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]
Connection is closed...

## Create MySQL Database from Python

In [8]:
import mysql.connector
from mysql.connector import Error  # this is for knowing the error if occured in connectivity

try:
    con = mysql.connector.connect(host = "localhost", user = "root", password = "root")
    
    if con.is_connected():
        db_info = con.get_server_info()
        print("Connected to MySQL Server, version is",db_info)
        cur = con.cursor()
        cur.execute("CREATE DATABASE mywork;")
        print("Database created successfully")

except Error as e:
    print("Error while connecting",e)
    
finally:
    if con.is_connected():
        cur.close()
        con.close()
        print("Connection is closed...")

Connected to MySQL Server, version is 8.0.25
Database created successfully
Connection is closed...

## Create MySQL Table from Python

In [10]:
import mysql.connector
from mysql.connector import Error

try:
    con = mysql.connector.connect(host = "localhost", database = "mywork", user = "root", password = "root")
    cur = con.cursor()
    
    create_table = """CREATE TABLE mytbl(
    ID int(10) NOT NULL,
    name varchar(250) NOT NULL,
    DOB Date NOT NULL,
    age int(10) NOT NULL,
    PRIMARY KEY(id))"""
    
    cur.execute(create_table)
    print("Table created successfully")

except Error as e:
    print("Failed to create Table",e)

finally:
    if con.is_connected():
        cur.close()
        con.close()
        print("MySQL Connection is Closed")

Table created successfully
MySQL Connection is Closed

## Inserting Data Into Database

In [11]:
import mysql.connector
from mysql.connector import Error

try:
    con = mysql.connector.connect(host = 'localhost', database = 'mywork', user = 'root', password = 'root')
    cur = con.cursor()
    
    insert_data = """INSERT INTO mytbl(ID, name, DOB, age)
    VALUES(101, "Abhay Kumar", '1990-09-05', 31)
    """
    cur.execute(insert_data)
    con.commit()
    print(cur.rowcount,"Record inserted successfully")
    
except Error as e:
    print("Failed to Insert data",e)
    
finally:
    if con.is_connected():
        cur.close()
        con.close()
        print("MySQL Server Connection is Closed")

1 Record inserted successfully
MySQL Server Connection is Closed

## Insert Multiple Values In Database

In [12]:
import mysql.connector
from mysql.connector import Error

try:
    con = mysql.connector.connect(host = 'localhost', database = 'mywork', user = 'root', password = 'root')
    cur = con.cursor()
    
    insert_query = """INSERT INTO mytbl(ID, name, DOB, age)
    VALUES(%s, %s, %s, %s)"""
    
    insert_data = [
        (102, "Devesh Mehta", "1999-03-06", 22),
        (103, "Rakesh Pal", "1998-05-02", 23),
        (104, "Umesh Yadav", "1997-12-21",24)
    ]
    
    cur.executemany(insert_query, insert_data)
    con.commit()
    print(cur.rowcount,"Data inserted successfully")
    
except Error as e:
    print("Failed to insert",e)
    
finally:
    if con.is_connected():
        cur.close()
        con.close()
        print("MySQL conncetion is closed")

3 Data inserted successfully
MySQL conncetion is closed

## Fetch Data From Database In Python

### fetchall()

In [13]:
import mysql.connector
from mysql.connector import Error

try:
    con = mysql.connector.connect(host = 'localhost',
                                 database = 'mywork',
                                 user = 'root',
                                 password = 'root')
    
    cur = con.cursor()
    query = "SELECT * FROM mytbl"
    cur.execute(query)
    res = cur.fetchall()
    print("Total number of record is:",cur.rowcount)
    print("-------------\n")
    
    for data in res:
        print("ID :",data[0])
        print("Name :",data[1])
        print("DOB :",data[2])
        print("Age :",data[3])
        print("")
    
except Error as e:
    print("Error while fetching data",e)
    
finally:
    if con.is_connected():
        cur.close()
        con.close()
        print("MySQL Connection Closed")

Total number of record is: 4
-------------

ID : 101
Name : Abhay Kumar
DOB : 1990-09-05
Age : 31

ID : 102
Name : Devesh Mehta
DOB : 1999-03-06
Age : 22

ID : 103
Name : Rakesh Pal
DOB : 1998-05-02
Age : 23

ID : 104
Name : Umesh Yadav
DOB : 1997-12-21
Age : 24

MySQL Connection Closed

### fetchone()

In [14]:
import mysql.connector
from mysql.connector import Error

try:
    con = mysql.connector.connect(host = 'localhost',
                                 database = 'mywork',
                                 user = 'root',
                                 password = 'root')
    cur = con.cursor()
    query ="SELECT * FROM mytbl"
    cur.execute(query)
    res = cur.fetchone()
    print("Toal number of records :",cur.rowcount)
    print("----------\n")
    print("Table data is:",res)
    print("----------\n")
    print("ID :",res[0])
    print("Name :",res[1])
    print("DOB :",res[2])
    print("Age :",res[3])
        
except Error as e:
    print("Error while fetching data",e)
    
finally:
    if con.is_connected():
        cur.close()
        con.close()
        print("MySQL Conncetion Closed")

Toal number of records : 1
----------

Table data is: (101, 'Abhay Kumar', datetime.date(1990, 9, 5), 31)
----------

ID : 101
Name : Abhay Kumar
DOB : 1990-09-05
Age : 31

### fetchmany()

In [15]:
import mysql.connector
from mysql.connector import Error

try:
    con = mysql.connector.connect(host = 'localhost',
                                 database = 'mywork',
                                 user = 'root',
                                 password = 'root')
    cur = con.cursor()
    query = "SELECT * FROM mytbl"
    cur.execute(query)
    res = cur.fetchmany(3)
    print("Total number of records :",cur.rowcount)
    print("\n---------------\n")
    
    for data in res:
        print(data)
        print("ID :",data[0])
        print("Name :",data[1])
        print("DOB :",data[2])
        print("Age :",data[3])
        print("\n----------\n")
        
except Error as e:
    print("Error while fetching data",e)

finally:
    if con.is_connected():
        cur.close()
        con.close()
        print("MySQL Connection Closed")

Total number of records : 3

---------------

(101, 'Abhay Kumar', datetime.date(1990, 9, 5), 31)
ID : 101
Name : Abhay Kumar
DOB : 1990-09-05
Age : 31

----------

(102, 'Devesh Mehta', datetime.date(1999, 3, 6), 22)
ID : 102
Name : Devesh Mehta
DOB : 1999-03-06
Age : 22

----------

(103, 'Rakesh Pal', datetime.date(1998, 5, 2), 23)
ID : 103
Name : Rakesh Pal
DOB : 1998-05-02
Age : 23

----------

## Update Data In Database In Python

In [16]:
import mysql.connector
from mysql.connector import Error

try:
    con = mysql.connector.connect(host = 'localhost',
                                  database = 'mywork',
                                  user = 'root',
                                  password = 'root')
    cur = con.cursor()
    select_query = "SELECT * FROM mytbl WHERE ID = 101"
    cur.execute(select_query)
    res1 = cur.fetchall()
    for data in res1:
        print(data)
    print("\n------------\n")
    
    update_query = "UPDATE mytbl SET age = 30 WHERE ID = 101"
    cur.execute(update_query)
    con.commit()
    print("Record updated successfully")
    
    print("\n------------\n")
    cur.execute(select_query)
    res2 = cur.fetchall()
    for rec in res2:
        print(rec)
    print("\n------------\n")

except Error as e:
    print("Error while updating record",e)

finally:
    if con.is_connected():
        cur.close()
        con.close()
        print("MySQL Connection Closed")

(101, 'Abhay Kumar', datetime.date(1990, 9, 5), 31)

------------

Record updated successfully

------------

(101, 'Abhay Kumar', datetime.date(1990, 9, 5), 30)

------------

MySQL Connection Closed

## Delete Data In Database In Python

In [17]:
import mysql.connector
from mysql.connector import Error

try:
    con = mysql.connector.connect(host = "localhost", database = 'mywork', user = 'root', password = "root")
    cur = con.cursor()
    select_query = "SELECT * FROM mytbl"
    cur.execute(select_query)
    res1 = cur.fetchall()
    print("Total records",cur.rowcount)
    for data in res1:
        print(data)
    print("\n----------\n")
    
    delete_query = "DELETE FROM mytbl WHERE name = 'Rakesh Pal'"
    cur.execute(delete_query)
    con.commit()
    print("Number of records deleted",cur.rowcount)
    
    cur.execute(select_query)
    res2 = cur.fetchall()
    for data in res2:
        print(data)
        
except Error as e:
    print("Error while deleting",e)
    
finally:
    if con.is_connected():
        cur.close()
        con.close()
        print("MySQL Connection Closed")

Total records 4
(101, 'Abhay Kumar', datetime.date(1990, 9, 5), 30)
(102, 'Devesh Mehta', datetime.date(1999, 3, 6), 22)
(103, 'Rakesh Pal', datetime.date(1998, 5, 2), 23)
(104, 'Umesh Yadav', datetime.date(1997, 12, 21), 24)

----------

Number of records deleted 1
(101, 'Abhay Kumar', datetime.date(1990, 9, 5), 30)
(102, 'Devesh Mehta', datetime.date(1999, 3, 6), 22)
(104, 'Umesh Yadav', datetime.date(1997, 12, 21), 24)
MySQL Connection Closed