Date - 20/02/2021  11:30 AM to 02:00 PM

## Loops In Python

for loop
while loop

### for

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

Examples :-

In [6]:
# even numbers
for num in range(0,101,2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [5]:
for num in range(0,101):
    if num % 2 == 0:
        print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [7]:
# addition
num = 0
for i in range(1,11):
    num += i
print(num)

55

In [8]:
# multiplication
mul = 1
for i in range(1,11):
    mul*=i
print(mul)

3628800

### for loop using string

In [10]:
fruit = 'pineapple'

In [11]:
for data in fruit:
    print(data)

p
i
n
e
a
p
p
l
e

In [13]:
for i in range(0, len(fruit)):
    print(i, fruit[i])

0 p
1 i
2 n
3 e
4 a
5 p
6 p
7 l
8 e

In [14]:
# print vowels
for data in fruit:
    if data == 'a' or data == 'e' or data == 'i' or data == 'o' or data == 'u':
        print(data)

i
e
a
e

In [15]:
list = ['a','e','i','o','u']
for data in fruit:
    if data in list:
        print(data)

i
e
a
e

### for loop using list

In [16]:
# square of numbers
num = []
for i in range(1,11):
    res = i**2
    num.append(res)
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
# odd numbers
num = []
for i in range(1,51):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [18]:
num = []
for i in range(1,51,2):
    num.append(i)
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [19]:
# hobbies

hobbies = []
no_hobb = int(input("How many hobbies do you have ?"))
for data in range(0, no_hobb):
    inp_hobb = input("Enter your desired hobby:")
    hobbies.append(inp_hobb)
print(hobbies)

How many hobbies do you have ?3
Enter your desired hobby:Travelling
Enter your desired hobby:Sleeping
Enter your desired hobby:Playing
['Travelling', 'Sleeping', 'Playing']

In [20]:
# marks

marks = []
no_sub = int(input("How many subjects do you have?"))
for i in range(0, no_sub):
    inp_marks = int(input("Enter your subject marks :"))
    marks.append(inp_marks)
print(marks)

How many subjects do you have?5
Enter your subject marks :78
Enter your subject marks :64
Enter your subject marks :82
Enter your subject marks :78
Enter your subject marks :64
[78, 64, 82, 78, 64]

### for loop using tuple

In [21]:
my_tup = (10, 20, 30,'hi', 'hello', True)

In [22]:
for data in my_tup:
    print(data)

10
20
30
hi
hello
True

In [23]:
for i in range(0, len(my_tup)):
    print(i,my_tup[i])

0 10
1 20
2 30
3 hi
4 hello
5 True

### for loop using dictionary

In [24]:
my_dict = {
    'name' : 'Dharmesh',
    'age' : 21,
    'gender' : 'Male'
}

In [25]:
my_dict

{'name': 'Dharmesh', 'age': 21, 'gender': 'Male'}

In [26]:
for data in my_dict:
    print(data)

name
age
gender

In [27]:
for key in my_dict.keys():
    print(key)

name
age
gender

In [28]:
for value in my_dict.values():
    print(value)

Dharmesh
21
Male

In [29]:
for key, value in my_dict.items():
    print(key, value)

name Dharmesh
age 21
gender Male

## List Comprehension

var = [exp forloop conditions]

In [30]:
# square
sq = [i**2 for i in range(1,11)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
# even
evn = [i  for i in range(1, 21) if i%2 == 0]
print(evn)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
city = ['mumbai', 'pune', 'goa', 'delhi', 'kolkata']
my_city = [name for name in city if len(name) >= 5]
print(my_city)

['mumbai', 'delhi', 'kolkata']