Date : 11/04/2021  09:15 AM to 11:30 AM

In [1]:
temperature = [32, 34, 27, 36, 38, 30]

In [2]:
forehn = map(lambda t :9/5*t+32,temperature)

In [3]:
forehn

In [4]:
list(forehn)

[89.6, 93.2, 80.6, 96.8, 100.4, 86.0]

In [1]:
ran_num = [10, 2, 8, 7, 5, 4, 3, 11, 0, 1]

In [2]:
greater = filter(lambda num : num > 4, ran_num)

In [3]:
greater

In [4]:
list(greater)

[10, 8, 7, 5, 11]

In [5]:
num = [10, 20, 30, 40, 40, 1, 2, 3, 4, 5]

In [6]:
from functools import reduce

In [7]:
mul = reduce(lambda a,b :a*b, num)

In [8]:
mul

1152000000

In [9]:
city = ["mum-bai", "pun-e", "del-hi", "hydera-bad"]

In [10]:
ans = map(lambda s : s.replace('-', ''), city)

In [11]:
ans

In [12]:
list(ans)

['mumbai', 'pune', 'delhi', 'hyderabad']

In [13]:
random_numbers = [10, 2, 8, 7, 5, 4, 3, 11, 0, 1]

In [35]:
nums = map(lambda num : num,random_numbers)

In [36]:
ran_nums = list(nums)

In [39]:
ran_nums.sort()

In [40]:
print(ran_nums)

[0, 1, 2, 3, 4, 5, 7, 8, 10, 11]

In [41]:
l1 = [1,2,3,"a","b","c"]

In [45]:
l2 = []
for i in l1:
    if type(i) == int:
        l2.append(i)
l2

[1, 2, 3]