Date - 02/08/2021  11:00 AM to 01:15 PM

# Time Series Analysis

Time Series is an important form (type) of data in many different fields (Stock market, Physics, Neuro Science,), Any Data that changes with the change in time comes under the category of time series analysis.
=> Time Series can be irregular without any fixed unit of time or offset.

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()  #current date time

In [3]:
print(now)

2021-08-29 11:37:05.077699

In [4]:
now.year

2021

In [5]:
now.month

8

In [6]:
now.day

29

In [7]:
now.hour

11

In [8]:
now.minute

37

In [9]:
now.second

5

In [10]:
now.weekday()

6

### Difference Between Two Dates

In [11]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)

In [12]:
delta

datetime.timedelta(days=926, seconds=56700)

In [13]:
delta.days

926

In [14]:
delta.seconds

56700

### Conversion Between String & Datetime

In [16]:
stamp = datetime(2021,1,15)

In [17]:
stamp

datetime.datetime(2021, 1, 15, 0, 0)

In [18]:
type(stamp)

datetime.datetime

In [19]:
str(stamp)

'2021-01-15 00:00:00'

In [20]:
stamp.strftime('%Y-%m-%d')

'2021-01-15'

%Y - Four digit year
%y - Two digit year
%m - Two digit month [01 - 12]
%d - Two digit day [01 - 31]
%H - Hour(24 hour clock) [00 -23]
%I - Hour(12 hour clock) [01 - 12]
%M - Two digit minutes [00 - 59]
%S - Second [00-60]
%w - Weekday as an integer [0(monday).....6]
%b -

In [21]:
val = '2011-02-22'

In [22]:
type(val)

str

In [23]:
val2 = datetime.strptime(val, '%Y-%m-%d')

In [24]:
type(val2)

datetime.datetime

In [25]:
print(val2)

2011-02-22 00:00:00

In [27]:
mydates = ['08/01/1993', '11/11/2000', '29/12/1999', '20/10/2003']

In [28]:
[datetime.strptime(items, '%d/%m/%Y') for items in mydates]

[datetime.datetime(1993, 1, 8, 0, 0),
 datetime.datetime(2000, 11, 11, 0, 0),
 datetime.datetime(1999, 12, 29, 0, 0),
 datetime.datetime(2003, 10, 20, 0, 0)]

### Time Series Basics

In [29]:
from datetime import datetime

In [30]:
import numpy as np
import pandas as pd

In [31]:
dates = [
    datetime(2011,1,2),
    datetime(2011,1,5),
    datetime(2011,1,7),
    datetime(2011,1,8),
    datetime(2011,1,10),
    datetime(2011,1,12)
]

In [32]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [33]:
mydata = pd.Series(np.random.randn(6), index=dates)

In [34]:
mydata

2011-01-02    1.233810
2011-01-05   -0.407618
2011-01-07    0.827317
2011-01-08    0.177934
2011-01-10    1.797158
2011-01-12    0.284199
dtype: float64

In [35]:
mydata.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [36]:
stamp = mydata.index[0]

In [37]:
stamp

Timestamp('2011-01-02 00:00:00')

### Date In Ranges

In [38]:
new_data = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods=1000))

In [39]:
new_data

2000-01-01    0.671538
2000-01-02   -1.276110
2000-01-03    1.744786
2000-01-04   -0.751776
2000-01-05    0.371181
                ...
2002-09-22   -1.191767
2002-09-23   -2.337083
2002-09-24   -2.567123
2002-09-25    1.813506
2002-09-26    0.387842
Freq: D, Length: 1000, dtype: float64

In [40]:
new_data['2001']    #accessing the data for a specific year

2001-01-01    1.078913
2001-01-02   -1.052649
2001-01-03    0.442674
2001-01-04   -1.247425
2001-01-05   -1.211514
                ...
2001-12-27   -0.404476
2001-12-28   -0.298643
2001-12-29    0.799250
2001-12-30   -2.018111
2001-12-31   -0.438433
Freq: D, Length: 365, dtype: float64

In [41]:
new_data['2001-08']    #accessing the data for a specific month of year

2001-08-01   -1.813966
2001-08-02   -1.272773
2001-08-03   -0.645350
2001-08-04    0.273595
2001-08-05    0.798017
2001-08-06    1.276604
2001-08-07   -0.916876
2001-08-08   -0.508906
2001-08-09    1.566892
2001-08-10   -0.004668
2001-08-11   -1.157110
2001-08-12    0.457742
2001-08-13    0.372233
2001-08-14   -0.995497
2001-08-15   -0.257684
2001-08-16    0.603903
2001-08-17    0.687846
2001-08-18   -0.208216
2001-08-19    0.955867
2001-08-20   -0.314610
2001-08-21    1.204304
2001-08-22    0.705509
2001-08-23   -1.785096
2001-08-24    0.850538
2001-08-25    0.304874
2001-08-26   -0.656865
2001-08-27    0.204307
2001-08-28   -1.683764
2001-08-29   -0.332371
2001-08-30   -0.363662
2001-08-31   -0.351054
Freq: D, dtype: float64

In [42]:
new_data['2001-08-01':'2001-08-15']    #accessing between days

2001-08-01   -1.813966
2001-08-02   -1.272773
2001-08-03   -0.645350
2001-08-04    0.273595
2001-08-05    0.798017
2001-08-06    1.276604
2001-08-07   -0.916876
2001-08-08   -0.508906
2001-08-09    1.566892
2001-08-10   -0.004668
2001-08-11   -1.157110
2001-08-12    0.457742
2001-08-13    0.372233
2001-08-14   -0.995497
2001-08-15   -0.257684
Freq: D, dtype: float64

### Specific Weekdays

In [43]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [44]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

### Time Series With Duplicate Dates

In [45]:
dates = pd.DatetimeIndex(['1/1/2000','1,2,2000','1,2,2000','1,2,2000','1-3-2000'])

In [46]:
dup_ser = pd.Series(np.arange(5), index=dates)

In [47]:
dup_ser

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [48]:
dup_ser.index.is_unique

False

In [49]:
dup_ser['2000-01-02']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [50]:
grouped = dup_ser.groupby(level=0)

In [51]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [52]:
grouped.sum()

2000-01-01    0
2000-01-02    6
2000-01-03    4
dtype: int32

### String Month To Number Month

In [53]:
datetime.strptime('Jan 01 2000','%b %d %Y')

datetime.datetime(2000, 1, 1, 0, 0)

In [54]:
datetime.strptime('01-Feb-2000','%d-%b-%Y')

datetime.datetime(2000, 2, 1, 0, 0)

In [56]:
pd.to_datetime('01-mar-2000')

Timestamp('2000-03-01 00:00:00')