Date : 22/01/2021 04:30 PM to 05:10 PM

Folowing are the Data Structures in Python :

1. List
2. Tuple
3. Dictionary
4. Sets

### List In Python

In [1]:
my_list = [10,20,30,40,50,60,70,80]

In [3]:
mixed_list = ["Hello", 'World', 100, 100, True]

In [7]:
print(my_list)
print(type(my_list))

[10, 20, 30, 40, 50, 60, 70, 80]
<class 'list'>

In [9]:
print(mixed_list)
print(type(mixed_list))

['Hello', 'World', 100, 100, True]
<class 'list'>

In [6]:
my_list[0]

10

In [10]:
mixed_list[-1]

True

Date : 23/01/2021 12:30 PM to 02:30 PM - Intro in Class

Date : 24/01/2021 12:30 PM to 03:30 PM

### Functions Of List

In [4]:
my_list = [10,20,30,40,50,60]

In [5]:
#universal function len() in python

len(my_list)

6

In [6]:
#append()

my_list.append(70)
print(my_list)

[10, 20, 30, 40, 50, 60, 70]

In [7]:
#insert()

my_list.insert(1,"Fifteen")
print(my_list)

[10, 'Fifteen', 20, 30, 40, 50, 60, 70]

In [8]:
#clear()

my_list.clear()
print(my_list)

[]

In [11]:
my_list = [10,10,20,30,40,40,40,50,60]
my_list

[10, 10, 20, 30, 40, 40, 40, 50, 60]

In [13]:
#count()

my_list.count(40)

3

In [14]:
#index()

my_list.index(10)

0

In [15]:
#pop()

my_list.pop()

60

In [16]:
my_list

[10, 10, 20, 30, 40, 40, 40, 50]

In [18]:
my_list.pop(5)

40

In [19]:
my_list

[10, 10, 20, 30, 40, 40, 50]

In [21]:
#remove()

my_list.remove(40)

In [22]:
my_list

[10, 10, 20, 30, 40, 50]

In [23]:
#sort()

my_list.sort()

In [24]:
my_list

[10, 10, 20, 30, 40, 50]

In [25]:
my_list.sort(reverse=True)
my_list

[50, 40, 30, 20, 10, 10]

In [27]:
string = ['Banana','Ball','Bat','Cat','Cow']
string

['Banana', 'Ball', 'Bat', 'Cat', 'Cow']

In [28]:
string.sort()
print(string)

['Ball', 'Banana', 'Bat', 'Cat', 'Cow']

In [30]:
#reverse()

my_list = [15, 10, 20, 10, 40, 25]
my_list

[15, 10, 20, 10, 40, 25]

In [31]:
my_list.reverse()
my_list

[25, 40, 10, 20, 10, 15]

In [32]:
string.reverse()
string

['Cow', 'Cat', 'Bat', 'Banana', 'Ball']

In [33]:
#copy()

num = [10,22,43,14,55,45,4]
num

[10, 22, 43, 14, 55, 45, 4]

In [35]:
numbers = num.copy()
numbers

[10, 22, 43, 14, 55, 45, 4]

In [36]:
num.append(30)
print(num)
print(numbers)

[10, 22, 43, 14, 55, 45, 4, 30]
[10, 22, 43, 14, 55, 45, 4]

In [37]:
numbers.pop()
print(num)
print(numbers)

[10, 22, 43, 14, 55, 45, 4, 30]
[10, 22, 43, 14, 55, 45]

In [38]:
copied = num
copied

[10, 22, 43, 14, 55, 45, 4, 30]

In [39]:
num.pop()
print(num)
print(copied)

[10, 22, 43, 14, 55, 45, 4]
[10, 22, 43, 14, 55, 45, 4]

In [40]:
copied.pop()
print(num)
print(copied)

[10, 22, 43, 14, 55, 45]
[10, 22, 43, 14, 55, 45]

In [60]:
my_list

[25, 40, 10, 20, 10, 15]

In [61]:
#extend()

my_list.extend(['Hi', "Hello", 100])
my_list

[25, 40, 10, 20, 10, 15, 'Hi', 'Hello', 100]

In [62]:
my_list.append(['Hi', "Hello", 100])
my_list

[25, 40, 10, 20, 10, 15, 'Hi', 'Hello', 100, ['Hi', 'Hello', 100]]

In [63]:
my_list.insert(['Hi', "Hello", 100])
my_list

TypeError: insert expected 2 arguments, got 1

### Indexing in List

In [64]:
my_list

[25, 40, 10, 20, 10, 15, 'Hi', 'Hello', 100, ['Hi', 'Hello', 100]]

In [65]:
my_list[3]

20

In [66]:
my_list[6]

'Hi'

In [68]:
my_list[9]

['Hi', 'Hello', 100]

In [69]:
my_list[9][2]

100

### Questions

In [71]:
#Q1
nl = [
    [
        ['hello', 'welcome', 'python']
    ],
    [
        [222, 333, 444]
    ]
]

print(nl)

[[['hello', 'welcome', 'python']], [[222, 333, 444]]]

In [72]:
nl[0][0][1]

'welcome'

In [73]:
nl[1][0][1]

333

In [74]:
#Q2
nl1 = [
    [
        [
            [
                ['i', 'have', 'the'],
                ['knowledge', 'of', 'python']
            ]
        ]
    ]
]

print(nl1)

[[[[['i', 'have', 'the'], ['knowledge', 'of', 'python']]]]]

In [80]:
nl1[0][0][0][1][0]

'knowledge'

In [81]:
#Q3

l = [
    [
        [
            [
                ['hi', 'hey'],
                ['c++', 'java', 'php' , 'python']
            ]
        ]
    ]
]

print(l)

[[[[['hi', 'hey'], ['c++', 'java', 'php', 'python']]]]]

In [82]:
l[0][0][0][1][3]

'python'

In [83]:
#Q4

l2 = [
    [
        [
            [1, 2, 3, ['i', 'like', ['java','python']]]
        ]
    ]
]

print(l2)

[[[[1, 2, 3, ['i', 'like', ['java', 'python']]]]]]

In [84]:
l2[0][0][0][3][1]

'like'

No Lecture - 25/01/2021

No Lecture - 26/01/2021

No Lecture - 27/01/2021

No Lecture - 28/01/2021

No Lecture - 29/01/2021

Date : 30/01/2021  12:30 PM to 02:30 PM

### List Slicing

In [1]:
my_list = [100,200,300,'hello',"hi","bye"]
my_list

[100, 200, 300, 'hello', 'hi', 'bye']

In [2]:
my_list[3:6]

['hello', 'hi', 'bye']

In [3]:
new_data = my_list[3:6]
new_data

['hello', 'hi', 'bye']

In [4]:
l = [
    [
        [
            [
                ['i', 'have', 'the'],
                ['knowledge', 'of', 'python']
            ]
        ]
    ]
]

print(l)

[[[[['i', 'have', 'the'], ['knowledge', 'of', 'python']]]]]

In [7]:
l[0][0][0][1][0:2]

['knowledge', 'of']

### Tuple in Python

In [8]:
my_tup = ("hello",20,30,40,True)
my_tup

('hello', 20, 30, 40, True)

In [9]:
type(my_tup)

tuple

### Functions in Tuple

In [10]:
#count()

my_tup.count('hello')

1

In [11]:
#index()

my_tup.index(True)

4

Some Examples of Tuple

In [12]:
new_tup = ("hello")
print(new_tup)
print(type(new_tup))

hello
<class 'str'>

In [13]:
new_tup = ("hello",)
print(new_tup)
print(type(new_tup))

('hello',)
<class 'tuple'>

In [14]:
new_tup = tuple("hello")
print(new_tup)
print(type(new_tup))

('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

### Indexing in Tuple

In [15]:
my_tup[4]

True

In [16]:
my_tup[1]

20

### Slicing in Tuple

In [17]:
my_tup[0:2]

('hello', 20)

In [18]:
my_tup[2:5]

(30, 40, True)

### Nested Tuple

In [19]:
nest_tup = (
    ("hello","hi","bye"),
    ("python","java","pascel"),
    (22,33,44,55)
)

nest_tup

(('hello', 'hi', 'bye'), ('python', 'java', 'pascel'), (22, 33, 44, 55))

In [20]:
len(nest_tup)

3

In [22]:
nest_tup[1][0]

'python'

### Mixed Data Structure

In [23]:
mixed = (
    ['cricket','volleyball','kabaddi'],
    [55.4,66.9,22.8],
    [True,False]
)

mixed

(['cricket', 'volleyball', 'kabaddi'], [55.4, 66.9, 22.8], [True, False])

In [24]:
len(mixed)

3

In [25]:
mixed[0]

['cricket', 'volleyball', 'kabaddi']

In [26]:
mixed[0].append('badminton')

In [27]:
mixed

(['cricket', 'volleyball', 'kabaddi', 'badminton'],
 [55.4, 66.9, 22.8],
 [True, False])

In [28]:
len(mixed)

3

In [29]:
mixed_1 = [
    ("hello","hi","bye"),
    (23,45.5,66.5),
    ("India","Japan","SA")
]
mixed_1

[('hello', 'hi', 'bye'), (23, 45.5, 66.5), ('India', 'Japan', 'SA')]

In [30]:
len(mixed_1)

3

In [31]:
mixed_1[2]

('India', 'Japan', 'SA')

In [32]:
mixed_1[2].append("US")

AttributeError: 'tuple' object has no attribute 'append'

In [33]:
mixed_1.append("WOW!")

In [34]:
mixed_1

[('hello', 'hi', 'bye'), (23, 45.5, 66.5), ('India', 'Japan', 'SA'), 'WOW!']

In [35]:
len(mixed_1)

4

Date : 31/01/2021 12:30 PM to 02:30 PM

## Dictionary In Python

In [1]:
my_dict = {"name" : "Dharmesh",
          "age" : 21,
          }
print(my_dict)

{'name': 'Dharmesh', 'age': 21}

In [2]:
type(my_dict)

dict

In [3]:
mixed_dict = {'city' : 'Mumbai',
             10.19 : 'This is a float',
             True : 'This is a boolean'
             }
mixed_dict

{'city': 'Mumbai', 10.19: 'This is a float', True: 'This is a boolean'}

In [4]:
mixed_dict[True]

'This is a boolean'

In [5]:
mixed_dict['city']

'Mumbai'

In [8]:
# imp example

new_dict = {1 : "this is int",
           1.0 : "this is float",
           True : "this is bool"
           }
print(new_dict)
print(new_dict[1])
print(new_dict[1.0])
print(new_dict[True])

{1: 'this is bool'}
this is bool
this is bool
this is bool

In [9]:
hash(1)

1

In [10]:
hash(1.0)

1

In [11]:
hash(True)

1

### Functions In Dictionary

In [13]:
mixed_dict = {'city' : 'Mumbai',
              5 : 'this is int',
             10.19 : 'This is float',
             True : 'This is bool'
             }
mixed_dict

{'city': 'Mumbai',
 5: 'this is int',
 10.19: 'This is float',
 True: 'This is bool'}

In [14]:
# keys()

mixed_dict.keys()

dict_keys(['city', 5, 10.19, True])

In [15]:
# values()

mixed_dict.values()

dict_values(['Mumbai', 'this is int', 'This is float', 'This is bool'])

In [16]:
# items()

mixed_dict.items()

dict_items([('city', 'Mumbai'), (5, 'this is int'), (10.19, 'This is float'), (True, 'This is bool')])

In [17]:
# pop()

mixed_list.pop()

NameError: name 'mixed_list' is not defined

In [19]:
mixed_dict.pop(True)

'This is bool'

In [21]:
# popitem()

mixed_dict.popitem()

(10.19, 'This is float')

In [24]:
# update()

mixed_dict.update({'city':'navi mumbai'})
mixed_dict

{'city': 'navi mumbai', 5: 'this is int'}

In [25]:
mixed_dict.update({'pincode':410218})
mixed_dict

{'city': 'navi mumbai', 5: 'this is int', 'pincode': 410218}

In [26]:
# setdefault()

mixed_dict.setdefault('gender')
mixed_dict

{'city': 'navi mumbai', 5: 'this is int', 'pincode': 410218, 'gender': None}

In [27]:
# copy()

copied = mixed_dict.copy()
copied

{'city': 'navi mumbai', 5: 'this is int', 'pincode': 410218, 'gender': None}

In [28]:
copied.update({'gender': 'male'})
print(copied)
print(mixed_dict)

{'city': 'navi mumbai', 5: 'this is int', 'pincode': 410218, 'gender': 'male'}
{'city': 'navi mumbai', 5: 'this is int', 'pincode': 410218, 'gender': None}

In [29]:
# get()

mixed_dict.get('city')

'navi mumbai'

### Nested Dictionary

In [30]:
fb_data = {
    1011 : {'name' : 'dharmesh',
           'age' : 21,
           'likes' : 150,
           'friends' : 200},
    1012 : {'name' : 'ramesh',
           'age' : 24,
           'likes' : 180,
           'friends' : 250},
    1013 : {'name' : 'suresh',
           'age' : 23,
           'likes' : 230,
           'friends' : 280}
}
fb_data

{1011: {'name': 'dharmesh', 'age': 21, 'likes': 150, 'friends': 200},
 1012: {'name': 'ramesh', 'age': 24, 'likes': 180, 'friends': 250},
 1013: {'name': 'suresh', 'age': 23, 'likes': 230, 'friends': 280}}

In [31]:
fb_data[1012]

{'name': 'ramesh', 'age': 24, 'likes': 180, 'friends': 250}

In [32]:
fb_data[1012]['likes']

180

In [33]:
fb_data[1011].update({'hobbies' : ['cricket','volleyball']})

In [34]:
fb_data[1011]['hobbies'][1]

'volleyball'

## Sets In Python

In [38]:
my_set = {99.9, 'hello', '100', False}
print(my_set)
print(type(my_set))

{False, 'hello', 99.9, '100'}
<class 'set'>

### Functions In Sets

In [39]:
# add()

my_set.add(100)
my_set

{100, '100', 99.9, False, 'hello'}

In [40]:
my_set.add(100)
my_set

{100, '100', 99.9, False, 'hello'}

In [41]:
# pop()

my_set.pop()
my_set

{100, '100', 99.9, 'hello'}

In [42]:
my_set.pop(99.9)
my_set

TypeError: pop() takes no arguments (1 given)

In [44]:
# remove()

my_set.remove('100')
my_set

{100, 99.9, 'hello'}

In [45]:
# clear()

my_set.clear()
my_set

set()

No Lecture - 01/02/2021

No Lecture - 02/02/2021

No Lecture - 03/02/2021

No Lecture - 04/02/2021

No Lecture - 05/02/2021

Date : 06/02/2021  12:15 PM to 02:15 PM

In [46]:
my_set = {'hello', 'hi', 'bye', 44, 65.90, 99, False, True}
my_set

{44, 65.9, 99, False, True, 'bye', 'hello', 'hi'}

In [47]:
set_list = list(my_set)
set_list

['hi', 65.9, False, 99, True, 'hello', 44, 'bye']

In [48]:
# copy()

res = my_set.copy()
res

{44, 65.9, 99, False, True, 'bye', 'hello', 'hi'}

In [49]:
my_set.remove('hi')
print(my_set)
print(res)

{65.9, False, 99, True, 'hello', 44, 'bye'}
{'hi', 65.9, False, 99, True, 'hello', 44, 'bye'}

In [57]:
set1 = {100, 200, 300, 400, 500}
set2 = {'hello', 'hi', 'bye', 200}
print(set1,set2)

{100, 200, 300, 400, 500} {'hi', 'hello', 'bye', 200}

In [58]:
# intersection()

set1.intersection(set2)

{200}

In [59]:
set2.intersection(set1)

{200}

In [60]:
# union()

set1.union(set2)

{100, 200, 300, 400, 500, 'bye', 'hello', 'hi'}

In [61]:
set2.union(set1)

{100, 200, 300, 400, 500, 'bye', 'hello', 'hi'}

In [62]:
# update()

set1.update(set2)

In [63]:
set1,set2

({100, 200, 300, 400, 500, 'bye', 'hello', 'hi'}, {200, 'bye', 'hello', 'hi'})

In [64]:
# difference()

set1.difference(set2)

{100, 300, 400, 500}

In [65]:
set2.difference(set1)

set()

In [68]:
# discard()

set1.discard(300)

In [69]:
set1

{100, 200, 400, 500, 'bye', 'hello', 'hi'}

In [70]:
set1.discard()

TypeError: discard() takes exactly one argument (0 given)

In [74]:
s1 = {'a','b','c','d','e'}
s2 = {'f','g','h','i','d','e','c','b','a'}
s1,s2

({'a', 'b', 'c', 'd', 'e'}, {'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'})

In [75]:
# issubset()

s1.issubset(s2)

True

In [76]:
s2.issubset(s1)

False

In [77]:
# issuperset()

s1.issuperset(s2)

False

In [78]:
s2.issuperset(s1)

True

In [80]:
# isdisjoint()

s1.isdisjoint(s2)

False

In [81]:
s2.isdisjoint(s1)

False

In [84]:
ss1 = {'apple', 'banana', 'mango'}
ss2 = {'tomato', 'chilli', 'garlic'}
ss1.isdisjoint(s2)

True

In [85]:
ss2.isdisjoint(ss1)

True

In [82]:
# symmetric_difference()

s1.symmetric_difference(s2)

{'f', 'g', 'h', 'i'}

In [83]:
s2.symmetric_difference(s1)

{'f', 'g', 'h', 'i'}