Introduction - 15/01/2021  03:42 PM to 05:07 PM

Date : 16/01/2021  03:45 PM to 05:15 PM

### Print Statement

In [1]:
print("Hey....I'm Python")

Hey....I'm Python

In [2]:
print('Hello Im new message')

Hello Im new message

### Quotes

who's standing there ?

In [3]:
print('who's standing there?)

SyntaxError: invalid syntax (<ipython-input-3-36fecd4738d1>, line 1)

In [4]:
print('who''s standing there?')

whos standing there?

In [5]:
print("who's standing there?")

who's standing there?

### Block Quote

In [8]:
print("'Steve Jobs Said: ' "Stay Hungry Stay Foolish!")

SyntaxError: invalid syntax (<ipython-input-8-689dab78e2b0>, line 1)

In [6]:
print("""
'Steve Jobs said: ' "Stay Hungry Stay Foolish!"
""")

'Steve Jobs said: ' "Stay Hungry Stay Foolish!"

## Data Types in Python

1. integer (int) - Any number which is whole number (+ve/-ve).
2. float (float) - Any decimal number (+ve/-ve).
3. string (str) - Collection of characters,numbers & special symbols.
4. boolean (bool) - Which is True/False.
5. complex - Which is imaginery number.

Date : 18/01/2021  04:00 PM to 05:30 PM

### Variables

Variables are Named Location given by user.

1. It should not start with number.
2. No reserved keywords should be used.
3. It should not contain special character at the start.
4. It should not contain any spaces.
5. Special characters such as "_" can be used in between

In [10]:
number_one = 40       #assigning of variables

In [11]:
print(number_one)

40

In [12]:
print(id(number_one))    #accessing the address

140708201245696

### Integer In Python

In [17]:
age = 21
print(age)
print(type(age))

21
<class 'int'>

In [18]:
loan = -200
print(loan)
print(type(loan))

-200
<class 'int'>

### Float In Python

In [19]:
number = 99.89
print(number)
print(type(number))

99.89
<class 'float'>

In [21]:
num_loan = -459.98
print(num_loan)
print(type(num_loan))

-459.98
<class 'float'>

### Boolean In Python

In [22]:
result = True
print(result)
print(type(result))

True
<class 'bool'>

In [23]:
result1 = False
print(result1)
print(type(result1))

False
<class 'bool'>

### Complex Numbers In Python

In [28]:
num = 5+10j
print(num)
print(type(num))

(5+10j)
<class 'complex'>

In [26]:
num = complex(5+10j)
print(num)
print(type(num))

(5+10j)
<class 'complex'>

### ArithmeticOperators

1. +  => add
2. -  => sub
3. *  => mul
4. /  => div
5. // => floor div
6. %  =>

In [29]:
3+3

6

In [30]:
6+6

12

In [31]:
4.5 + 6

10.5

In [32]:
49 - 23

26

In [33]:
60.34 - 37

23.340000000000003

In [34]:
5*4

20

In [35]:
5.9*3

17.700000000000003

In [36]:
10/2

5.0

In [37]:
20/3

6.666666666666667

In [38]:
10//2

5

In [39]:
20//3

6

In [40]:
10%3

1

In [41]:
20%3

2

### Logical Operators

1. and - all statements are true.
2. or - any one statement is true.
3. not - all statements are false.

### String In Python

1. String is a set of characters, special characters, symbols and numbers.
2. It is enclosed with in single or double quote.
3. The vlaue of the string once defined cannot be changed (Immutable).

In [47]:
fruit = 'Banana'

In [48]:
print(fruit)
print(type(fruit))

Banana
<class 'str'>

### String Functions

In [49]:
# upper()

fruit.upper()

'BANANA'

In [50]:
# lower()

fruit.lower()

'banana'

In [51]:
# capitalize()

name = 'dharmesh vishwakarma'
name.capitalize()

'Dharmesh vishwakarma'

In [52]:
# title()

name.title()

'Dharmesh Vishwakarma'

In [53]:
# islower()

fruit.islower()

False

In [54]:
name.islower()

True

In [55]:
# isupper()

fruit.isupper()

False

In [56]:
# center()

fruit.center(50)

'                      Banana                      '

In [61]:
# lstrip()
demo = '                      Banana                      '
demo.lstrip()

'Banana                      '

In [63]:
# rstrip()

demo.rstrip()

'                      Banana'

In [64]:
# strip()

demo.strip()

'Banana'

In [2]:
fruit = 'pineapple'

No Lecture - 19/01/2021

Date : 20/01/2021  04:00 PM to 05:30 PM

In [3]:
# count()

fruit.count('p')

3

In [4]:
fruit.count('e')

2

In [5]:
fruit.count('apple')

1

In [9]:
# index()

fruit.index('a')

4

In [11]:
fruit.index('pine')

0

In [14]:
# casefold()

message = "Hello Welcome to Python Class"

message.casefold()

'hello welcome to python class'

In [15]:
# swapcase()

message.swapcase()

'hELLO wELCOME TO pYTHON cLASS'

In [16]:
# replace()

message.replace('Python','Java')

'Hello Welcome to Java Class'

In [18]:
message

'Hello Welcome to Python Class'

In [19]:
message.replace('o','a')

'Hella Welcame ta Pythan Class'

In [20]:
message

'Hello Welcome to Python Class'

In [22]:
# find()

msg = "hello welcome to my world, my world is my home"

msg.find('world')

20

In [23]:
msg.find('l')

2

In [24]:
msg.find('dummy')

-1

In [25]:
msg.index('l')

2

In [26]:
msg.index('dummy')

ValueError: substring not found

In [29]:
# isalpha()

msg.isalpha()

False

In [31]:
msg

'hello welcome to my world, my world is my home'

In [30]:
fruit.isalpha()

True

In [32]:
fruit

'pineapple'

In [33]:
# isalnum()

msg.isalnum()

False

In [34]:
fruit.isalnum()

True

In [39]:
num = '3453'
num.isalnum()

True

In [40]:
# isdigit()

num.isdigit()

True

In [41]:
fruit.isdigit()

False

In [42]:
alnum = 'num234'
alnum.isdigit()

False

In [44]:
# isspace()

txt = " "

txt.isspace()

True

In [45]:
fruit.isspace()

False

In [46]:
msg.isspace()

False

In [56]:
# rpartition()

text = "I like eating Icecream all day, chocolate is my fav Icecream"

text.rpartition('Icecream')

('I like eating Icecream all day, chocolate is my fav ', 'Icecream', '')

In [57]:
msg = "I could eat banana all day, banana is my fav fruit"

msg.rpartition("banana")

('I could eat banana all day, ', 'banana', ' is my fav fruit')

In [58]:
# rindex()

msg.rindex("banana")

28

In [59]:
msg.index("banana")

12

In [61]:
# startwith()

msg.startswith("I")

True

In [62]:
msg.startswith("i")

False

In [63]:
# endswith()

msg.endswith("fruit")

True

In [64]:
msg.endswith("Fruit")

False

In [68]:
# format()

data = "My name is {fname} and my age is {age}"

data.format(fname = 'pradeep',age = 26)

'My name is pradeep and my age is 26'

No Lecture : 21/01/2021

Date : 22/01/2021  03:45 PM to 04:30 PM

In [1]:
fruit = 'pineapple'

In [2]:
# inddexing

fruit[1]

'i'

In [4]:
fruit[5]

'p'

In [5]:
fruit[-1]

'e'

In [6]:
# slicing

fruit[0:4]

'pine'

In [8]:
fruit[:8]

'pineappl'

In [9]:
fruit[2:]

'neapple'

### Input from the user in Python

In [10]:
name = input("Enter your name :")
print(name)

Enter your name :Dharmesh
Dharmesh

In [11]:
print(type(name))

<class 'str'>

In [12]:
age = int(input("Enter your age :"))
print(age)
print(type(age))

Enter your age :21
21
<class 'int'>

### Sample Program

In [13]:
inp_name = input("Enter your name :")
inp_age = int(input("Enter your age :"))
print(inp_name)
print(inp_age)

Enter your name :Dharmesh Vishwakarma
Enter your age :21
Dharmesh Vishwakarma
21

### String Concatenation

In [5]:
fname = "dharmesh"
lname = "vishwakaram"

In [6]:
fname + lname

'dharmeshvishwakaram'

In [7]:
fname +' '+ lname

'dharmesh vishwakaram'

In [8]:
print(fname,lname)

dharmesh vishwakaram

In [9]:
name = input("Enter your full name :")
age = int(input("Enter your age :"))
print("My name is",name,"and my age is",age)

Enter your full name :dharmesh vishwakarma
Enter your age :21
My name is dharmesh vishwakarma and my age is 21

### Pending.... Remaind During Data Structure Session ..

1. split

2. splitlines

3. join

In [11]:
#split()

hobies = "cricket,hockey,kabaddi,badminton"
hobies

'cricket,hockey,kabaddi,badminton'

In [12]:
hobies.split(",")

['cricket', 'hockey', 'kabaddi', 'badminton']

In [15]:
#splitlines()

city = "mumbai\npune\nnagpur\nnashik"
city

'mumbai\npune\nnagpur\nnashik'

In [16]:
city.splitlines()

['mumbai', 'pune', 'nagpur', 'nashik']