# Loops

A loop is a sequence of instructionsthat is repeated until a certain condition is reached.

### iterable

An object that can return one of its elements at a time.

## for Loop

A for loop is used to iterate, or do something repeatedly over an iterable.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### Examples :-

In [3]:
# even numbers
for num in range(0,51,2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [4]:
for num in range(0,51):
    if num % 2 == 0:
        print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [5]:
# addition
num = 0
for i in range(1,11):
    num += i
print(num)

55

In [6]:
# multiplication
mul = 1
for i in range(1,11):
    mul*=i
print(mul)

3628800

### for loop using string

In [7]:
fruit = 'pineapple'

In [8]:
for data in fruit:
    print(data)

p
i
n
e
a
p
p
l
e

In [9]:
for i in range(0, len(fruit)):
    print(i, fruit[i])

0 p
1 i
2 n
3 e
4 a
5 p
6 p
7 l
8 e

In [10]:
# print vowels
for data in fruit:
    if data == 'a' or data == 'e' or data == 'i' or data == 'o' or data == 'u':
        print(data)

i
e
a
e

In [11]:
list = ['a','e','i','o','u']
for data in fruit:
    if data in list:
        print(data)

i
e
a
e

### for loop using list

In [12]:
# square of numbers
num = []
for i in range(1,11):
    res = i**2
    num.append(res)
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
# odd numbers
num = []
for i in range(1,21):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [14]:
num = []
for i in range(1,51,2):
    num.append(i)
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [15]:
# hobbies

hobbies = []
no_hobb = int(input("How many hobbies do you have ?"))
for data in range(0, no_hobb):
    inp_hobb = input("Enter your desired hobby:")
    hobbies.append(inp_hobb)
print(hobbies)

How many hobbies do you have ?5
Enter your desired hobby:coding
Enter your desired hobby:reading
Enter your desired hobby:walking
Enter your desired hobby:traveling
Enter your desired hobby:eating
['coding', 'reading', 'walking', 'traveling', 'eating']

In [16]:
# marks

marks = []
no_sub = int(input("How many subjects do you have?"))
for i in range(0, no_sub):
    inp_marks = int(input("Enter your subject marks :"))
    marks.append(inp_marks)
print(marks)

How many subjects do you have?5
Enter your subject marks :80
Enter your subject marks :85
Enter your subject marks :78
Enter your subject marks :74
Enter your subject marks :92
[80, 85, 78, 74, 92]

### for loop using tuple

In [17]:
my_tup = (10, 20, 30,'hi', 'hello', True)

In [18]:
for data in my_tup:
    print(data)

10
20
30
hi
hello
True

In [19]:
for i in range(0, len(my_tup)):
    print(i,my_tup[i])

0 10
1 20
2 30
3 hi
4 hello
5 True

### for loop using dictionary

In [20]:
my_dict = {
    'name' : 'Dharmesh',
    'age' : 21,
    'gender' : 'Male'
}

In [21]:
my_dict

{'name': 'Dharmesh', 'age': 21, 'gender': 'Male'}

In [22]:
for data in my_dict:
    print(data)

name
age
gender

In [23]:
for key in my_dict.keys():
    print(key)

name
age
gender

In [24]:
for value in my_dict.values():
    print(value)

Dharmesh
21
Male

In [25]:
for key, value in my_dict.items():
    print(key, value)

name Dharmesh
age 21
gender Male

## List Comprehension

A list comprehension is a way to shorten the code instead of doing it 3,4 lines with list comprehension you can do it with just one line.

Syntax:
    
    var = [exp forloop conditions]

In [26]:
# square
sq = [i**2 for i in range(1,11)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
# even
evn = [i  for i in range(1, 21) if i%2 == 0]
print(evn)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
city = ['mumbai', 'pune', 'goa', 'delhi', 'kolkata']
my_city = [name for name in city if len(name) >= 5]
print(my_city)

['mumbai', 'delhi', 'kolkata']

## while Loop

while loop in python is used to iterate over a block of code as long as the test expression (condition) is True.

In [29]:
num = 1
while(num <= 10):
    print(num)
    num = num + 1

1
2
3
4
5
6
7
8
9
10

### String using while loop

In [30]:
f = 'pineapple'
i = 0
while(i <len(f)):
    print(i,f[i])
    i+=1

0 p
1 i
2 n
3 e
4 a
5 p
6 p
7 l
8 e

### List using while loop

In [31]:
my_list = ["cricket", "swimmimg", "cooking", "travelling"]
pos = 0
while(pos < len(my_list)):
    print(pos, my_list[pos])
    pos+=1

0 cricket
1 swimmimg
2 cooking
3 travelling

### Tuple using while loop

In [32]:
my_tup = ("apple", "banana", "mango")
i = 0
while(i < len(my_tup)):
    print(i,my_tup[i])
    i+=1

0 apple
1 banana
2 mango

## Examples

In [33]:
# sum

num = 1
summ = 0
while(num <= 10):
    summ = summ + num
    num += 1
print(summ)

55

In [34]:
# mul

num = 1
mul = 1
while(num <= 10):
    mul = mul * num
    num += 1
print(mul)

3628800

### Break

Terminates a for or while loop.

### Continue

continue is statement is used to skip the rest of code inside a loop for the current iteration only.

In [52]:
num1 = 5
num2 = 10
for i in range(num1):
    for j in range(num2,1,-1):
        if i == j:
            break
        print(i,j,"Not Matched")

0 10 Not Matched
0 9 Not Matched
0 8 Not Matched
0 7 Not Matched
0 6 Not Matched
0 5 Not Matched
0 4 Not Matched
0 3 Not Matched
0 2 Not Matched
1 10 Not Matched
1 9 Not Matched
1 8 Not Matched
1 7 Not Matched
1 6 Not Matched
1 5 Not Matched
1 4 Not Matched
1 3 Not Matched
1 2 Not Matched
2 10 Not Matched
2 9 Not Matched
2 8 Not Matched
2 7 Not Matched
2 6 Not Matched
2 5 Not Matched
2 4 Not Matched
2 3 Not Matched
3 10 Not Matched
3 9 Not Matched
3 8 Not Matched
3 7 Not Matched
3 6 Not Matched
3 5 Not Matched
3 4 Not Matched
4 10 Not Matched
4 9 Not Matched
4 8 Not Matched
4 7 Not Matched
4 6 Not Matched
4 5 Not Matched

In [53]:
num1 = 5
num2 = 10
for i in range(num1):
    for j in range(num2,1,-1):
        if i != j:
            continue
        print(i,j,"Matched")

2 2 Matched
3 3 Matched
4 4 Matched

## Zip

Zip returns an iterator that combines multiple iterables into one sequence of tuples. Each tuple contains the elements in that position from all the iterables.

In [56]:
list1 = [1,2,3,4,5]
list2 = [1,4,9,16,25]

zipped = zip(list1, list2)
print(zipped)

for val in zipped:
    print(val)

<zip object at 0x0000000932CE5C40>
(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)

## Enumerate

It is a built-in function that returns an iterator of tuples containing indices and values of a list.

In [57]:
alpha = ['a','b','c','d','e','f']
for idx, val in enumerate(alpha):
    print(idx, val)

0 a
1 b
2 c
3 d
4 e
5 f