# Covid - 19 India

In [70]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

### Data Loading

In [71]:
df = pd.read_csv('covid_19_india.csv')

In [72]:
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [73]:
df.tail()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
16845,16846,2021-07-07,8:00 AM,Telangana,-,-,613124,3703,628282
16846,16847,2021-07-07,8:00 AM,Tripura,-,-,63964,701,68612
16847,16848,2021-07-07,8:00 AM,Uttarakhand,-,-,332006,7338,340882
16848,16849,2021-07-07,8:00 AM,Uttar Pradesh,-,-,1682130,22656,1706818
16849,16850,2021-07-07,8:00 AM,West Bengal,-,-,1472132,17834,1507241

In [74]:
covid_df = df.copy()

In [75]:
covid_df.sample(10)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
4443,4444,2020-07-24,8:00 AM,Ladakh,-,-,1025,2,1210
9573,9574,2020-12-17,8:00 AM,Telengana,-,-,270967,1505,279644
14333,14334,2021-04-29,8:00 AM,Assam,-,-,222397,1255,246847
3113,3114,2020-06-17,8:00 AM,Jharkhand,-,-,1121,9,1839
14106,14107,2021-04-22,8:00 AM,Rajasthan,-,-,353711,3330,453407
16272,16273,2021-06-21,8:00 AM,Uttar Pradesh,-,-,1677611,22178,1704358
7116,7117,2020-10-08,8:00 AM,Telengana,-,-,179075,1201,206644
88,89,2020-03-10,6:00 PM,Haryana,0,2,0,0,2
3406,3407,2020-06-25,8:00 AM,Maharashtra,-,-,73792,6739,142900
16570,16571,2021-06-30,8:00 AM,Delhi,-,-,1407592,24971,1434094

In [76]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16850 entries, 0 to 16849
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       16850 non-null  int64
 1   Date                      16850 non-null  object
 2   Time                      16850 non-null  object
 3   State/UnionTerritory      16850 non-null  object
 4   ConfirmedIndianNational   16850 non-null  object
 5   ConfirmedForeignNational  16850 non-null  object
 6   Cured                     16850 non-null  int64
 7   Deaths                    16850 non-null  int64
 8   Confirmed                 16850 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.2+ MB

In [77]:
covid_df.describe()

                Sno         Cured         Deaths     Confirmed
count  16850.000000  1.685000e+04   16850.000000  1.685000e+04
mean    8425.500000  2.360353e+05    3485.222552  2.583667e+05
std     4864.320353  5.225438e+05    9330.541749  5.672808e+05
min        1.000000  0.000000e+00       0.000000  0.000000e+00
25%     4213.250000  2.658500e+03      22.000000  3.644750e+03
50%     8425.500000  2.889500e+04     453.000000  3.336150e+04
75%    12637.750000  2.537510e+05    3071.250000  2.666530e+05
max    16850.000000  5.872268e+06  123531.000000  6.113335e+06

### Data Cleansing

In [78]:
(covid_df['ConfirmedIndianNational'] == '-').sum()

16404

In [79]:
(covid_df['ConfirmedForeignNational'] == '-').sum()

16404

In both "ConfirmedIndianNational" and "ConfirmedForeignNational" columns, there are 16404 garbege records out of 16850 records.

In [80]:
covid_df.drop(columns = ['Sno','ConfirmedIndianNational','ConfirmedForeignNational'], inplace=True)

In [81]:
covid_df

             Date     Time State/UnionTerritory    Cured  Deaths  Confirmed
0      2020-01-30  6:00 PM               Kerala        0       0          1
1      2020-01-31  6:00 PM               Kerala        0       0          1
2      2020-02-01  6:00 PM               Kerala        0       0          2
3      2020-02-02  6:00 PM               Kerala        0       0          3
4      2020-02-03  6:00 PM               Kerala        0       0          3
...           ...      ...                  ...      ...     ...        ...
16845  2021-07-07  8:00 AM            Telangana   613124    3703     628282
16846  2021-07-07  8:00 AM              Tripura    63964     701      68612
16847  2021-07-07  8:00 AM          Uttarakhand   332006    7338     340882
16848  2021-07-07  8:00 AM        Uttar Pradesh  1682130   22656    1706818
16849  2021-07-07  8:00 AM          West Bengal  1472132   17834    1507241

[16850 rows x 6 columns]

In [82]:
covid_df['State/UnionTerritory'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya',
       'Dadra and Nagar Haveli and Daman and Diu',
       'Cases being reassigned to states', 'Sikkim', 'Daman & Diu',
       'Lakshadweep', 'Telangana', 'Dadra and Nagar Haveli', 'Bihar****'],
      dtype=object)

In [83]:
covid_df.groupby('State/UnionTerritory').count()

                                          Date  Time  Cured  Deaths  Confirmed
State/UnionTerritory
Andaman and Nicobar Islands                469   469    469     469        469
Andhra Pradesh                             483   483    483     483        483
Arunachal Pradesh                          461   461    461     461        461
Assam                                      463   463    463     463        463
Bihar                                      471   471    471     471        471
Bihar****                                    2     2      2       2          2
Cases being reassigned to states            60    60     60      60         60
Chandigarh                                 476   476    476     476        476
Chhattisgarh                               476   476    476     476        476
Dadra and Nagar Haveli                       2     2      2       2          2
Dadra and Nagar Haveli and Daman and Diu   426   426    426     426        426
Daman & Diu                                  1     1      1       1          1
Delhi                                      493   493    493     493        493
Goa                                        469   469    469     469        469
Gujarat                                    475   475    475     475        475
Haryana                                    491   491    491     491        491
Himachal Pradesh                           474   474    474     474        474
Jammu and Kashmir                          486   486    486     486        486
Jharkhand                                  463   463    463     463        463
Karnataka                                  486   486    486     486        486
Kerala                                     525   525    525     525        525
Ladakh                                     488   488    488     488        488
Lakshadweep                                209   209    209     209        209
Madhya Pradesh                             474   474    474     474        474
Maharashtra                                486   486    486     486        486
Manipur                                    471   471    471     471        471
Meghalaya                                  450   450    450     450        450
Mizoram                                    470   470    470     470        470
Nagaland                                   417   417    417     417        417
Odisha                                     479   479    479     479        479
Puducherry                                 477   477    477     477        477
Punjab                                     486   486    486     486        486
Rajasthan                                  492   492    492     492        492
Sikkim                                     410   410    410     410        410
Tamil Nadu                                 488   488    488     488        488
Telangana                                   67    67     67      67         67
Telengana                                  426   426    426     426        426
Tripura                                    457   457    457     457        457
Unassigned                                   3     3      3       3          3
Uttar Pradesh                              491   491    491     491        491
Uttarakhand                                480   480    480     480        480
West Bengal                                477   477    477     477        477

In [84]:
covid_df['State/UnionTerritory'][covid_df['State/UnionTerritory'] == 'Bihar****'] = 'Bihar'

In [85]:
covid_df['State/UnionTerritory'][(covid_df['State/UnionTerritory'] == 'Dadra and Nagar Haveli') | (covid_df['State/UnionTerritory'] == 'Daman & Diu')] = 'Dadra and Nagar Haveli and Daman and Diu'

In [86]:
covid_df['State/UnionTerritory'][covid_df['State/UnionTerritory'] == 'Telengana'] = 'Telangana'

In [87]:
covid_df.groupby('State/UnionTerritory').count()

                                          Date  Time  Cured  Deaths  Confirmed
State/UnionTerritory
Andaman and Nicobar Islands                469   469    469     469        469
Andhra Pradesh                             483   483    483     483        483
Arunachal Pradesh                          461   461    461     461        461
Assam                                      463   463    463     463        463
Bihar                                      473   473    473     473        473
Cases being reassigned to states            60    60     60      60         60
Chandigarh                                 476   476    476     476        476
Chhattisgarh                               476   476    476     476        476
Dadra and Nagar Haveli and Daman and Diu   429   429    429     429        429
Delhi                                      493   493    493     493        493
Goa                                        469   469    469     469        469
Gujarat                                    475   475    475     475        475
Haryana                                    491   491    491     491        491
Himachal Pradesh                           474   474    474     474        474
Jammu and Kashmir                          486   486    486     486        486
Jharkhand                                  463   463    463     463        463
Karnataka                                  486   486    486     486        486
Kerala                                     525   525    525     525        525
Ladakh                                     488   488    488     488        488
Lakshadweep                                209   209    209     209        209
Madhya Pradesh                             474   474    474     474        474
Maharashtra                                486   486    486     486        486
Manipur                                    471   471    471     471        471
Meghalaya                                  450   450    450     450        450
Mizoram                                    470   470    470     470        470
Nagaland                                   417   417    417     417        417
Odisha                                     479   479    479     479        479
Puducherry                                 477   477    477     477        477
Punjab                                     486   486    486     486        486
Rajasthan                                  492   492    492     492        492
Sikkim                                     410   410    410     410        410
Tamil Nadu                                 488   488    488     488        488
Telangana                                  493   493    493     493        493
Tripura                                    457   457    457     457        457
Unassigned                                   3     3      3       3          3
Uttar Pradesh                              491   491    491     491        491
Uttarakhand                                480   480    480     480        480
West Bengal                                477   477    477     477        477

### Dealing with Dates

In [88]:
covid_df['Date'] = pd.to_datetime(covid_df['Date'])

In [89]:
covid_df['Date']

0       2020-01-30
1       2020-01-31
2       2020-02-01
3       2020-02-02
4       2020-02-03
           ...
16845   2021-07-07
16846   2021-07-07
16847   2021-07-07
16848   2021-07-07
16849   2021-07-07
Name: Date, Length: 16850, dtype: datetime64[ns]

In [90]:
covid_df['Year'] = covid_df['Date'].dt.year

In [91]:
covid_df['Month'] = covid_df['Date'].dt.month

In [92]:
covid_df['Day'] = covid_df['Date'].dt.day

In [93]:
covid_df['Weekday'] = covid_df['Date'].dt.weekday

In [94]:
covid_df

,Date,Time,State/UnionTerritory,Cured,Deaths,Confirmed,Year,Month,Day,Weekday
0,2020-01-30,6:00 PM,Kerala,0,0,1,2020,1,30,3
1,2020-01-31,6:00 PM,Kerala,0,0,1,2020,1,31,4
2,2020-02-01,6:00 PM,Kerala,0,0,2,2020,2,1,5
3,2020-02-02,6:00 PM,Kerala,0,0,3,2020,2,2,6
4,2020-02-03,6:00 PM,Kerala,0,0,3,2020,2,3,0
...,...,...,...,...,...,...,...,...,...,...
16845,2021-07-07,8:00 AM,Telangana,613124,3703,628282,2021,7,7,2
16846,2021-07-07,8:00 AM,Tripura,63964,701,68612,2021,7,7,2
16847,2021-07-07,8:00 AM,Uttarakhand,332006,7338,340882,2021,7,7,2
16848,2021-07-07,8:00 AM,Uttar Pradesh,1682130,22656,1706818,2021,7,7,2
16849,2021-07-07,8:00 AM,West Bengal,1472132,17834,1507241,2021,7,7,2

### State/UnionTerritory Wise Total Confirmed, Cured, Deaths Cases

In [95]:
covid_df.groupby('State/UnionTerritory')[['Cured', 'Deaths', 'Confirmed']].max().sort_values(by='Confirmed', ascending=False)

                                            Cured  Deaths  Confirmed
State/UnionTerritory
Maharashtra                               5872268  123531    6113335
Kerala                                    2877557   13960    2996094
Karnataka                                 2784030   35526    2859595
Tamil Nadu                                2435872   33132    2503481
Andhra Pradesh                            1861937   12898    1908065
Uttar Pradesh                             1682130   22656    1706818
West Bengal                               1472132   17834    1507241
Delhi                                     1408853   25001    1434687
Chhattisgarh                               977893   13462     996359
Rajasthan                                  942882    8942     952836
Odisha                                     897362    4299     927186
Gujarat                                    811699   10072     823964
Madhya Pradesh                             780578    9017     790042
Haryana                                    758442    9506     769030
Bihar                                      711913    9612     722746
Telangana                                  613124    3703     628282
Punjab                                     578590   16131     596736
Assam                                      493306    4717     522267
Jharkhand                                  340365    5118     346038
Uttarakhand                                332006    7338     340882
Jammu and Kashmir                          309554    4345     317481
Himachal Pradesh                           198134    3485     202945
Goa                                        162787    3079     167823
Puducherry                                 114673    1763     118227
Manipur                                     66132    1218      73581
Tripura                                     63964     701      68612
Chandigarh                                  60837     809      61752
Meghalaya                                   47173     880      52358
Arunachal Pradesh                           34525     181      37879
Nagaland                                    23982     503      25619
Mizoram                                     18383      98      22155
Sikkim                                      19200     309      21403
Ladakh                                      19733     204      20137
Dadra and Nagar Haveli and Daman and Diu    10532       4      10575
Lakshadweep                                  9643      49       9947
Cases being reassigned to states                0       0       9265
Andaman and Nicobar Islands                  7343     128       7487
Unassigned                                      0       0         77

### Total Covid-19  Cases In India

In [96]:
total_cases = covid_df.groupby('State/UnionTerritory')['Confirmed'].max().sum()

In [97]:
total_cured = covid_df.groupby('State/UnionTerritory')['Cured'].max().sum()

In [98]:
total_deaths = covid_df.groupby('State/UnionTerritory')['Deaths'].max().sum()

In [99]:
active_cases = total_cases - (total_cured + total_deaths)

In [100]:
print(f"Total Covid-19 Confirmed Cases in India: {total_cases}")
print(f"Total Covid-19 Cured Cases in India: {total_cured}")
print(f"Total Covid-19 Deaths in India: {total_deaths}")
print(f"Total Covid-19 Active Cases in India: {active_cases}")

Total Covid-19 Confirmed Cases in India: 30673007
Total Covid-19 Cured Cases in India: 29799534
Total Covid-19 Deaths in India: 404211
Total Covid-19 Active Cases in India: 469262

In [101]:
recovery_rate = (total_cured / total_cases) * 100

In [102]:
death_rate = (total_deaths / total_cases) * 100

In [103]:
active_rate = (active_cases / total_cases) * 100

In [104]:
print('Recovery rate is {:.2f} %'.format(recovery_rate))
print('Death rate is {:.2f} %'.format(death_rate))
print('Active rate is {:.2f} %'.format(active_rate))

Recovery rate is 97.15 %
Death rate is 1.32 %
Active rate is 1.53 %

### Cases In Maharashtra

In [105]:
maharashtra_df = covid_df[covid_df['State/UnionTerritory'] == 'Maharashtra'].groupby(['Year','Month']).max().reset_index().copy()

In [106]:
maharashtra_df

,Year,Month,Date,Time,State/UnionTerritory,Cured,Deaths,Confirmed,Day,Weekday
0,2020,3,2020-03-31,9:30 PM,Maharashtra,39,9,216,31,6
1,2020,4,2020-04-30,7:30 PM,Maharashtra,1593,432,9915,30,6
2,2020,5,2020-05-31,8:00 AM,Maharashtra,28081,2197,65168,31,6
3,2020,6,2020-06-30,8:00 AM,Maharashtra,88960,7610,169883,30,6
4,2020,7,2020-07-31,8:00 AM,Maharashtra,248615,14729,411798,31,6
5,2020,8,2020-08-31,8:00 AM,Maharashtra,562401,24399,780689,31,6
6,2020,9,2020-09-30,8:00 AM,Maharashtra,1069159,36181,1366129,30,6
7,2020,10,2020-10-31,8:00 AM,Maharashtra,1503050,43837,1672858,31,6
8,2020,11,2020-11-30,8:00 AM,Maharashtra,1680926,47071,1820059,30,6
9,2020,12,2020-12-31,8:00 AM,Maharashtra,1824934,49463,1928603,31,6
10,2021,1,2021-01-31,8:00 AM,Maharashtra,1927335,51042,2023814,31,6
11,2021,2,2021-02-28,8:00 AM,Maharashtra,2020951,52092,2146777,28,6
12,2021,3,2021-03-31,8:00 AM,Maharashtra,2377127,54422,2773436,31,6
13,2021,4,2021-04-30,8:00 AM,Maharashtra,3799266,67985,4539553,30,6
14,2021,5,2021-05-31,8:00 AM,Maharashtra,5362370,94844,5731815,31,6
15,2021,6,2021-06-30,8:00 AM,Maharashtra,5809548,121804,6051633,30,6
16,2021,7,2021-07-07,8:00 AM,Maharashtra,5872268,123531,6113335,7,6

In [107]:
def monthly(series):
    i = 0
    res = []
    for data in series:
        res.append(data - i)
        i = data
    return pd.Series(res)

In [108]:
maharashtra_df['Confirmed'] = monthly(maharashtra_df['Confirmed'])

In [109]:
maharashtra_df['Cured'] = monthly(maharashtra_df['Cured'])

In [110]:
maharashtra_df['Deaths'] = monthly(maharashtra_df['Deaths'])

In [111]:
maharashtra_df

,Year,Month,Date,Time,State/UnionTerritory,Cured,Deaths,Confirmed,Day,Weekday
0,2020,3,2020-03-31,9:30 PM,Maharashtra,39,9,216,31,6
1,2020,4,2020-04-30,7:30 PM,Maharashtra,1554,423,9699,30,6
2,2020,5,2020-05-31,8:00 AM,Maharashtra,26488,1765,55253,31,6
3,2020,6,2020-06-30,8:00 AM,Maharashtra,60879,5413,104715,30,6
4,2020,7,2020-07-31,8:00 AM,Maharashtra,159655,7119,241915,31,6
5,2020,8,2020-08-31,8:00 AM,Maharashtra,313786,9670,368891,31,6
6,2020,9,2020-09-30,8:00 AM,Maharashtra,506758,11782,585440,30,6
7,2020,10,2020-10-31,8:00 AM,Maharashtra,433891,7656,306729,31,6
8,2020,11,2020-11-30,8:00 AM,Maharashtra,177876,3234,147201,30,6
9,2020,12,2020-12-31,8:00 AM,Maharashtra,144008,2392,108544,31,6
10,2021,1,2021-01-31,8:00 AM,Maharashtra,102401,1579,95211,31,6
11,2021,2,2021-02-28,8:00 AM,Maharashtra,93616,1050,122963,28,6
12,2021,3,2021-03-31,8:00 AM,Maharashtra,356176,2330,626659,31,6
13,2021,4,2021-04-30,8:00 AM,Maharashtra,1422139,13563,1766117,30,6
14,2021,5,2021-05-31,8:00 AM,Maharashtra,1563104,26859,1192262,31,6
15,2021,6,2021-06-30,8:00 AM,Maharashtra,447178,26960,319818,30,6
16,2021,7,2021-07-07,8:00 AM,Maharashtra,62720,1727,61702,7,6

### Total Covid-19 Cases In Maharashtra

In [112]:
mh_total_confirmed = maharashtra_df['Confirmed'].sum()

In [113]:
mh_total_cured = maharashtra_df['Cured'].sum()

In [114]:
mh_total_deaths = maharashtra_df['Deaths'].sum()

In [115]:
mh_active_cases = mh_total_confirmed - (mh_total_cured + mh_total_deaths)

In [116]:
print(f"Total Covid-19 Confirmed Cases in Maharashtra: {mh_total_confirmed}")
print(f"Total Covid-19 Cured Cases in Maharashtra: {mh_total_cured}")
print(f"Total Covid-19 Deaths in Maharashtra: {mh_total_deaths}")
print(f"Total Covid-19 Active Cases in Maharashtra: {mh_active_cases}")

Total Covid-19 Confirmed Cases in Maharashtra: 6113335
Total Covid-19 Cured Cases in Maharashtra: 5872268
Total Covid-19 Deaths in Maharashtra: 123531
Total Covid-19 Active Cases in Maharashtra: 117536

In [117]:
mh_recovery_rate = (mh_total_cured / mh_total_confirmed) * 100

In [118]:
mh_death_rate = (mh_total_deaths / mh_total_confirmed) * 100

In [119]:
mh_active_rate = (mh_active_cases / mh_total_confirmed) * 100

In [120]:
print('Recovery rate is {:.2f} %'.format(mh_recovery_rate))
print('Death rate is {:.2f} %'.format(mh_death_rate))
print('Active rate is {:.2f} %'.format(mh_active_rate))

Recovery rate is 96.06 %
Death rate is 2.02 %
Active rate is 1.92 %