In [1]:
# to install nltk

!pip install nltk

Requirement already satisfied: nltk in f:\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: click in f:\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex in f:\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: joblib in f:\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in f:\anaconda3\lib\site-packages (from nltk) (4.59.0)

In [2]:
# to import nltk

import nltk

In [3]:
text = "Mumbai or Bombay is the capital city of the Indian state of Maharashtra. According to the United Nations, as of 2018, Mumbai was the second most populated city in India after Delhi. In the world with a population of roughly 20 million."

In [4]:
text

'Mumbai or Bombay is the capital city of the Indian state of Maharashtra. According to the United Nations, as of 2018, Mumbai was the second most populated city in India after Delhi. In the world with a population of roughly 20 million.'

In [6]:
sentence = nltk.sent_tokenize(text)

In [7]:
sentence

['Mumbai or Bombay is the capital city of the Indian state of Maharashtra.',
 'According to the United Nations, as of 2018, Mumbai was the second most populated city in India after Delhi.',
 'In the world with a population of roughly 20 million.']

In [10]:
for sents in sentence:
    print(sents,"\n")

Mumbai or Bombay is the capital city of the Indian state of Maharashtra.

According to the United Nations, as of 2018, Mumbai was the second most populated city in India after Delhi.

In the world with a population of roughly 20 million.

In [12]:
words = nltk.word_tokenize(sentence[0])

In [14]:
words

['Mumbai',
 'or',
 'Bombay',
 'is',
 'the',
 'capital',
 'city',
 'of',
 'the',
 'Indian',
 'state',
 'of',
 'Maharashtra',
 '.']

In [15]:
for word in words:
    print(word)

Mumbai
or
Bombay
is
the
capital
city
of
the
Indian
state
of
Maharashtra
.

In [20]:
d = {}
for word in words:
    print(word)
    if word in d.keys():
        d[word] += 1
    else:
        d[word] = 1
print(d)

Mumbai
or
Bombay
is
the
capital
city
of
the
Indian
state
of
Maharashtra
.
{'Mumbai': 1, 'or': 1, 'Bombay': 1, 'is': 1, 'the': 2, 'capital': 1, 'city': 1, 'of': 2, 'Indian': 1, 'state': 1, 'Maharashtra': 1, '.': 1}

In [21]:
"Natural Language Processing".split()

['Natural', 'Language', 'Processing']

In [22]:
"This is a cat".split()

['This', 'is', 'a', 'cat']

In [23]:
"This is a, cat.".split()

['This', 'is', 'a,', 'cat.']

In [24]:
text

'Mumbai or Bombay is the capital city of the Indian state of Maharashtra. According to the United Nations, as of 2018, Mumbai was the second most populated city in India after Delhi. In the world with a population of roughly 20 million.'

In [25]:
import re

In [28]:
re.findall('[\w]+', text)

['Mumbai',
 'or',
 'Bombay',
 'is',
 'the',
 'capital',
 'city',
 'of',
 'the',
 'Indian',
 'state',
 'of',
 'Maharashtra',
 'According',
 'to',
 'the',
 'United',
 'Nations',
 'as',
 'of',
 '2018',
 'Mumbai',
 'was',
 'the',
 'second',
 'most',
 'populated',
 'city',
 'in',
 'India',
 'after',
 'Delhi',
 'In',
 'the',
 'world',
 'with',
 'a',
 'population',
 'of',
 'roughly',
 '20',
 'million']

In [42]:
re.compile(r'[,.]+').split(text)

['Mumbai or Bombay is the capital city of the Indian state of Maharashtra',
 ' According to the United Nations',
 ' as of 2018',
 ' Mumbai was the second most populated city in India after Delhi',
 ' In the world with a population of roughly 20 million',
 '']

In [46]:
from nltk.tokenize import word_tokenize

In [47]:
word_tokenize(text)

['Mumbai',
 'or',
 'Bombay',
 'is',
 'the',
 'capital',
 'city',
 'of',
 'the',
 'Indian',
 'state',
 'of',
 'Maharashtra',
 '.',
 'According',
 'to',
 'the',
 'United',
 'Nations',
 ',',
 'as',
 'of',
 '2018',
 ',',
 'Mumbai',
 'was',
 'the',
 'second',
 'most',
 'populated',
 'city',
 'in',
 'India',
 'after',
 'Delhi',
 '.',
 'In',
 'the',
 'world',
 'with',
 'a',
 'population',
 'of',
 'roughly',
 '20',
 'million',
 '.']

In [48]:
from nltk.tokenize import sent_tokenize

In [49]:
sent_tokenize(text)

['Mumbai or Bombay is the capital city of the Indian state of Maharashtra.',
 'According to the United Nations, as of 2018, Mumbai was the second most populated city in India after Delhi.',
 'In the world with a population of roughly 20 million.']

In [50]:
from nltk.tokenize import RegexpTokenizer

In [64]:
RegexpTokenizer('\w+').tokenize(text)

['Mumbai',
 'or',
 'Bombay',
 'is',
 'the',
 'capital',
 'city',
 'of',
 'the',
 'Indian',
 'state',
 'of',
 'Maharashtra',
 'According',
 'to',
 'the',
 'United',
 'Nations',
 'as',
 'of',
 '2018',
 'Mumbai',
 'was',
 'the',
 'second',
 'most',
 'populated',
 'city',
 'in',
 'India',
 'after',
 'Delhi',
 'In',
 'the',
 'world',
 'with',
 'a',
 'population',
 'of',
 'roughly',
 '20',
 'million']

In [65]:
re.findall('\w+', text)

['Mumbai',
 'or',
 'Bombay',
 'is',
 'the',
 'capital',
 'city',
 'of',
 'the',
 'Indian',
 'state',
 'of',
 'Maharashtra',
 'According',
 'to',
 'the',
 'United',
 'Nations',
 'as',
 'of',
 '2018',
 'Mumbai',
 'was',
 'the',
 'second',
 'most',
 'populated',
 'city',
 'in',
 'India',
 'after',
 'Delhi',
 'In',
 'the',
 'world',
 'with',
 'a',
 'population',
 'of',
 'roughly',
 '20',
 'million']

In [67]:
# white spcae tokenization

from nltk.tokenize import WhitespaceTokenizer

In [73]:
text

'Mumbai or Bombay is the capital city of the Indian state of Maharashtra. According to the United Nations, as of 2018, Mumbai was the second most populated city in India after Delhi. In the world with a population of roughly 20 million.'

In [74]:
text.replace('.','\n')

'Mumbai or Bombay is the capital city of the Indian state of Maharashtra\n According to the United Nations, as of 2018, Mumbai was the second most populated city in India after Delhi\n In the world with a population of roughly 20 million\n'

In [75]:
WhitespaceTokenizer().tokenize(text.replace('.','\n'))

['Mumbai',
 'or',
 'Bombay',
 'is',
 'the',
 'capital',
 'city',
 'of',
 'the',
 'Indian',
 'state',
 'of',
 'Maharashtra',
 'According',
 'to',
 'the',
 'United',
 'Nations,',
 'as',
 'of',
 '2018,',
 'Mumbai',
 'was',
 'the',
 'second',
 'most',
 'populated',
 'city',
 'in',
 'India',
 'after',
 'Delhi',
 'In',
 'the',
 'world',
 'with',
 'a',
 'population',
 'of',
 'roughly',
 '20',
 'million']

In [76]:
import pandas as pd

In [77]:
text

'Mumbai or Bombay is the capital city of the Indian state of Maharashtra. According to the United Nations, as of 2018, Mumbai was the second most populated city in India after Delhi. In the world with a population of roughly 20 million.'

In [78]:
df = pd.DataFrame({
    'sentence':text.split('.')
})
df

                                            sentence
0  Mumbai or Bombay is the capital city of the In...
1   According to the United Nations, as of 2018, ...
2   In the world with a population of roughly 20 ...
3

In [86]:
df.drop(index=[3], inplace=True)

In [87]:
df

                                            sentence
0  Mumbai or Bombay is the capital city of the In...
1   According to the United Nations, as of 2018, ...
2   In the world with a population of roughly 20 ...

In [88]:
df['tokenize'] = df['sentence'].apply( lambda x : word_tokenize(x))

In [92]:
df

,sentence,tokenize
0,Mumbai or Bombay is the capital city of the In...,"[Mumbai, or, Bombay, is, the, capital, city, o..."
1,"According to the United Nations, as of 2018, ...","[According, to, the, United, Nations, ,, as, o..."
2,In the world with a population of roughly 20 ...,"[In, the, world, with, a, population, of, roug..."

In [93]:
df['tokenize']

0    [Mumbai, or, Bombay, is, the, capital, city, o...
1    [According, to, the, United, Nations, ,, as, o...
2    [In, the, world, with, a, population, of, roug...
Name: tokenize, dtype: object

In [94]:
df['tokenize'][0]

['Mumbai',
 'or',
 'Bombay',
 'is',
 'the',
 'capital',
 'city',
 'of',
 'the',
 'Indian',
 'state',
 'of',
 'Maharashtra']