# Dharmesh Vishwakarma

### Q.1 : Write a function that takes a string, breaks it up and returns it with vowels first, consonants second. For any character that's not a vowel (like special characters or spaces), treat them like consonants.

>[Source](https://edabit.com/challenge/r8jXYt5dQ3puspQfJ)

In [1]:
def is_vowel(val):
    if val in "aeiou":
        return True
    else:
        return False

def split(txt):
    vowel = ""
    const = ""
    for data in txt:
        if is_vowel(data):
            vowel += data
        else:
            const += data
    return vowel+const

In [2]:
split("abcde")

'aebcd'

In [3]:
split("Hello!")

'eoHll!'

In [4]:
split("What's the time?")

"aeieWht's th tm?"

### Q.2 : Luke Skywalker has family and friends. Help him remind them who is who. Given a string with a name, return the relation of that person to Luke.
>[Source](https://edabit.com/challenge/8pDH2SRutPoaQghgc)

In [5]:
def relation_to_luke(name):
    fam = {'father':'Darth Vader','sister':'Leia','brother in law':'Han','R2D2':'droid'}
    for key,val in fam.items():
        if val == name:
            return "Luke, I am your "+key+"."

In [6]:
relation_to_luke("Darth Vader")

'Luke, I am your father.'

In [7]:
relation_to_luke("Leia")

'Luke, I am your sister.'

In [8]:
relation_to_luke("Han")

'Luke, I am your brother in law.'

### Q.3 : Create a method in the Person class which returns how another person's age compares. Given the objects p1, p2 and p3, which will be initialised with the attributes name and age, return a sentence in the following format:
#### {other_person} is {older than / younger than / the same age as} me.
>[Source](https://edabit.com/challenge/JFLADuABfkeoz8mqN)

In [9]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def compare_age(self, other):
        if other.age > self.age:
            cmp_age = "older than"
        elif other.age < self.age:
            cmp_age = "younger than"
        else:
            cmp_age = "the same age as"
        return "{} is {} me.".format(other.name, cmp_age)

In [10]:
p1 = Person("Samuel", 24)
p2 = Person("Joel", 36)
p3 = Person("Lily", 24)

In [11]:
p1.compare_age(p2)

'Joel is older than me.'

In [12]:
p2.compare_age(p1)

'Samuel is younger than me.'

In [13]:
p1.compare_age(p3)

'Lily is the same age as me.'

### Q.4 : A list is special if every even index contains an even number and every odd index contains an odd number. Create a function that returns True if an array is special, and False otherwise.
>[Source](https://edabit.com/challenge/BmZ6PGMJiLWMzgvos)

In [14]:
def is_special_array(lst):
    even = all(i%2==0 for i in lst[0::2])
    odd = all(j%2!=0 for j in lst[1::2])
    if even and odd is True:
        return True
    else:
        return False

In [15]:
is_special_array([2, 7, 4, 9, 6, 1, 6, 3])

True

In [16]:
is_special_array([2, 7, 9, 1, 6, 1, 6, 3])

False

In [17]:
is_special_array([2, 7, 8, 8, 6, 1, 6, 3])

False

### Q.5 : Create the function that takes a list of dictionaries and returns the sum of people's budgets.
>[Source](https://edabit.com/challenge/ff2R7SymbB6PfjpPm)

In [18]:
def get_budgets(lst):
    sum_of_budgets = 0
    for data in lst:
        sum_of_budgets += data['budget']
    return sum_of_budgets

In [19]:
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [20]:
get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
])

62600

### Q.6 : Create a function that takes a list of numbers and return the number that's unique.
>[Source](https://edabit.com/challenge/GaXXfmpM72yCHag9T)

In [21]:
def unique(lst):
    for i in lst:
        if lst.count(i) == 1:
            return i

In [22]:
unique([3, 3, 3, 7, 3, 3])

7

In [23]:
unique([0, 0, 0.77, 0, 0])

0.77

In [24]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

### Q.7 : Create a function that applies a discount d to every number in the list.
>[Source](https://edabit.com/challenge/YGhrwfg6k6zHnmeDh)

In [25]:
def get_discounts(nums, d):
    ans = []
    for num in nums:
        dis = num*int(d[:-1])/100
        ans.append(dis)
    return ans

In [26]:
get_discounts([2, 4, 6, 11], "50%")

[1.0, 2.0, 3.0, 5.5]

In [27]:
get_discounts([10, 20, 40, 80], "75%")

[7.5, 15.0, 30.0, 60.0]

In [28]:
get_discounts([100], "45%")

[45.0]

### Q.8 : Given a list, create a function that returns a dictionary detailing how many times each element was repeated.
>[Source](https://edabit.com/challenge/gDtHS9cAy8Fs2X7pH)

In [29]:
def count_repetitions(lst):
    temp = {}
    for data in lst:
        if data not in temp.keys():
            temp[data] = lst.count(data)
    ans = {k: v for k, v in sorted(temp.items(), key=lambda item: item[1], reverse = True)}
    return ans

In [30]:
count_repetitions(["cat", "dog", "cat", "cow", "cow", "cow"])

{'cow': 3, 'cat': 2, 'dog': 1}

In [31]:
count_repetitions([1, 5, 5, 5, 12, 12, 0, 0, 0, 0, 0, 0])

{0: 6, 5: 3, 12: 2, 1: 1}

In [32]:
count_repetitions(["Infinity", "null", "Infinity", "null", "null"])

{'null': 3, 'Infinity': 2}

### Q.9 : Write a function that takes a list of hours and returns the total weekly salary.

* The input list hours is listed sequentially, ordered from Monday to Sunday.
* A worker earns `$10` an hour for the first 8 hours.
* For every overtime hour, he earns `$15`.
* On weekends, the employer pays double the usual rate, regardless how many hours were worked previously that week. For instance, 10 hours worked on a weekday would pay `80+30 = $110`, but on a weekend it would pay `160+60 = $220`.
>[Source](https://edabit.com/challenge/5uMJmbN2uihcyEu75)

In [33]:
def weekly_salary(hours):
    total_sal = 0
    for i in range(0,len(hours)):
        if i == 5 or i == 6:
            if hours[i] <= 8:
                total_sal += (hours[i]*10*2)
            else:
                total_sal += (8*10*2+(hours[i]-8)*15*2)
        else:
            if hours[i] <= 8:
                total_sal += (hours[i]*10)
            else:
                total_sal += (8*10+(hours[i]-8)*15)
    return total_sal

In [34]:
weekly_salary([8, 8, 8, 8, 8, 0, 0])

400

In [35]:
weekly_salary([10, 10, 10, 0, 8, 0, 0])

410

In [36]:
weekly_salary([0, 0, 0, 0, 0, 12, 0])

280

### Q.10 : Create a function that takes number of units consumed by the customer and returns calculated Electricity Bill as per following conditions:

* First 100 Units will be charged at `$1/unit`.
* Next 100 Units will be charged at `$2/unit`.
* Next 100 Units will be charged at `$3/unit`.
* Next 200 Units will be charged at `$4/unit`.
* Next Units will be charged at `$5/unit`.
* `10%` tax to be added in final amount.
* Extra `$15` to be added for Meter Charge.
>[Source](https://edabit.com/challenge/3JyZjPzJKrPYBjP6a)

In [37]:
def electricity_bill(units):
    ut1 = units // 100
    ut2 = units % 100
    if units > 0:
        if units < 100:
            res = ut2
        elif units >= 100 and units < 200:
            res = ut1*100 + ut2*2
        elif units >= 200 and units < 300:
            res = 100 + ut1*100 + ut2*3
        elif units >= 300  and units < 500:
            res = 300 + ut1*100 + ut2*4
        else:
            res = 300 + ut1*100 + ut2*5
        return res + res*10/100 + 15

In [38]:
electricity_bill(100)

125.0

In [39]:
electricity_bill(225)

427.5

In [40]:
electricity_bill(300)

675.0