# Data Structures

Data Structure is a data organization, management and storage format that enables efficient access and modification.

Data Structures are containers that organize and group data types together in different ways.

Folowing are the Data Structures in Python :

1. List
2. Tuple
3. Dictionary
4. Sets

### List:
List is a data type for mutable ordered sequence of elements. It is used to store the sequence of various types of data.

__Functions:__ 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'.

### Tuple:
Tuple is a data type for immutable ordered sequence of elements.

__Functions:__ 'count', 'index'.

### Dictionary:
Dictionary is a data type for mutable objects that store mappings of unique keys to values.

__Functions:__ 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'.

### Set:
Set is a data type for mutable unordered collections of unique elements.

__Functions:__ 'add', 'clear', 'copy', 'difference', 'discard', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'union', 'update'.

## List in Python

In [1]:
my_list = [10,20,30,40,50,60,70,80]

In [2]:
mixed_list = ["Hello", 'World', 100, 100, True]

In [3]:
print(my_list)
print(type(my_list))

[10, 20, 30, 40, 50, 60, 70, 80]
<class 'list'>

In [4]:
print(mixed_list)
print(type(mixed_list))

['Hello', 'World', 100, 100, True]
<class 'list'>

In [5]:
my_list[0]

10

In [6]:
mixed_list[-1]

True

### Functions of List

In [7]:
my_list = [10,20,30,40,50,60]

In [8]:
#universal function len() - Return the number of items in a container.

len(my_list)

6

In [9]:
#append() - Append object to the end of the list.

my_list.append(70)
print(my_list)

[10, 20, 30, 40, 50, 60, 70]

In [10]:
#insert() - Insert object before index.

my_list.insert(1,"Fifteen")
print(my_list)

[10, 'Fifteen', 20, 30, 40, 50, 60, 70]

In [12]:
#clear() - Remove all items from list.

my_list.clear()
print(my_list)

[]

In [13]:
my_list = [10,10,20,30,40,40,40,50,60]
my_list

[10, 10, 20, 30, 40, 40, 40, 50, 60]

In [14]:
#count() - Return number of occurrences of value.

my_list.count(40)

3

In [15]:
#index() - Return first index of value.

my_list.index(10)

0

In [16]:
#pop() - Remove and return item at index (default last).

my_list.pop()

60

In [17]:
my_list

[10, 10, 20, 30, 40, 40, 40, 50]

In [18]:
my_list.pop(5)

40

In [19]:
my_list

[10, 10, 20, 30, 40, 40, 50]

In [20]:
#remove() - Remove first occurrence of value.

my_list.remove(40)

In [22]:
my_list

[10, 10, 20, 30, 40, 50]

In [23]:
my_list.remove(10)
my_list

[10, 20, 30, 40, 50]

In [24]:
#sort() - Sort the list in ascending order and return None.

my_list.sort()

In [25]:
my_list

[10, 20, 30, 40, 50]

In [26]:
my_list.sort(reverse=True)
my_list

[50, 40, 30, 20, 10]

In [27]:
string = ['Banana','Ball','Bat','Cat','Cow']
string

['Banana', 'Ball', 'Bat', 'Cat', 'Cow']

In [28]:
string.sort()
print(string)

['Ball', 'Banana', 'Bat', 'Cat', 'Cow']

In [29]:
#reverse()

my_list = [15, 10, 20, 10, 40, 25]
my_list

[15, 10, 20, 10, 40, 25]

In [30]:
my_list.reverse()
my_list

[25, 40, 10, 20, 10, 15]

In [31]:
string.reverse()
string

['Cow', 'Cat', 'Bat', 'Banana', 'Ball']

In [32]:
#copy() - Return a shallow copy of the list.

num = [10,22,43,14,55,45,4]
num

[10, 22, 43, 14, 55, 45, 4]

In [33]:
numbers = num.copy()
numbers

[10, 22, 43, 14, 55, 45, 4]

In [34]:
num.append(30)
print(num)
print(numbers)

[10, 22, 43, 14, 55, 45, 4, 30]
[10, 22, 43, 14, 55, 45, 4]

In [35]:
numbers.pop()
print(num)
print(numbers)

[10, 22, 43, 14, 55, 45, 4, 30]
[10, 22, 43, 14, 55, 45]

In [36]:
copied = num
copied

[10, 22, 43, 14, 55, 45, 4, 30]

In [37]:
num.pop()
print(num)
print(copied)

[10, 22, 43, 14, 55, 45, 4]
[10, 22, 43, 14, 55, 45, 4]

In [38]:
copied.pop()
print(num)
print(copied)

[10, 22, 43, 14, 55, 45]
[10, 22, 43, 14, 55, 45]

In [39]:
my_list

[25, 40, 10, 20, 10, 15]

In [40]:
#extend() - Extend list by appending elements from the iterable.

my_list.extend(['Hi', "Hello", 100])
my_list

[25, 40, 10, 20, 10, 15, 'Hi', 'Hello', 100]

In [41]:
my_list.append(['Hi', "Hello", 100])
my_list

[25, 40, 10, 20, 10, 15, 'Hi', 'Hello', 100, ['Hi', 'Hello', 100]]

In [42]:
my_list.insert(1,['Hi', "Hello", 100])
my_list

[25,
 ['Hi', 'Hello', 100],
 40,
 10,
 20,
 10,
 15,
 'Hi',
 'Hello',
 100,
 ['Hi', 'Hello', 100]]

### Indexing in List

In [43]:
my_list

[25,
 ['Hi', 'Hello', 100],
 40,
 10,
 20,
 10,
 15,
 'Hi',
 'Hello',
 100,
 ['Hi', 'Hello', 100]]

In [44]:
my_list[3]

10

In [45]:
my_list[6]

15

In [48]:
my_list[10]

['Hi', 'Hello', 100]

In [50]:
my_list[10][1]

'Hello'

### Questions

In [51]:
#Q1
nl = [
    [
        ['hello', 'welcome', 'python']
    ],
    [
        [222, 333, 444]
    ]
]

print(nl)

[[['hello', 'welcome', 'python']], [[222, 333, 444]]]

In [52]:
nl[0][0][1]

'welcome'

In [53]:
nl[1][0][1]

333

In [54]:
#Q2
nl1 = [
    [
        [
            [
                ['i', 'have', 'the'],
                ['knowledge', 'of', 'python']
            ]
        ]
    ]
]

print(nl1)

[[[[['i', 'have', 'the'], ['knowledge', 'of', 'python']]]]]

In [55]:
nl1[0][0][0][1][0]

'knowledge'

In [56]:
#Q3

l = [
    [
        [
            [
                ['hi', 'hey'],
                ['c++', 'java', 'php' , 'python']
            ]
        ]
    ]
]

print(l)

[[[[['hi', 'hey'], ['c++', 'java', 'php', 'python']]]]]

In [57]:
l[0][0][0][1][3]

'python'

In [58]:
#Q4

l2 = [
    [
        [
            [1, 2, 3, ['i', 'like', ['java','python']]]
        ]
    ]
]

print(l2)

[[[[1, 2, 3, ['i', 'like', ['java', 'python']]]]]]

In [59]:
l2[0][0][0][3][1]

'like'

### List Slicing

In order to access range of elements in a list, we need to slice the list by using slicing operator ':'.

__Syntax:__ list[ start : stop : step]

In [60]:
my_list = [100,200,300,'hello',"hi","bye"]
my_list

[100, 200, 300, 'hello', 'hi', 'bye']

In [62]:
my_list[3:6]

['hello', 'hi', 'bye']

In [64]:
my_list[3:6:]

['hello', 'hi', 'bye']

In [65]:
new_data = my_list[3:6]
new_data

['hello', 'hi', 'bye']

In [70]:
my_list[::-1]

['bye', 'hi', 'hello', 300, 200, 100]

In [71]:
my_list[6:3]

[]

In [79]:
my_list

[100, 200, 300, 'hello', 'hi', 'bye']

In [82]:
my_list[4:1:-1]

['hi', 'hello', 300]

#### Question

In [83]:
l = [
    [
        [
            [
                ['i', 'have', 'the'],
                ['knowledge', 'of', 'python']
            ]
        ]
    ]
]

print(l)

[[[[['i', 'have', 'the'], ['knowledge', 'of', 'python']]]]]

In [84]:
l[0][0][0][1][0:3]

['knowledge', 'of', 'python']

## Tuples in Python

In [85]:
my_tup = ("hello",20,30,40,True)
my_tup

('hello', 20, 30, 40, True)

In [86]:
type(my_tup)

tuple

In [89]:
tuple([2,3,4,'hi']), tuple((2,3,4,'hi'))

((2, 3, 4, 'hi'), (2, 3, 4, 'hi'))

### Functions in Tuple

In [90]:
#count()

my_tup.count('hello')

1

In [91]:
#index()

my_tup.index(True)

4

In [92]:
new_tup = ("hello")
print(new_tup)
print(type(new_tup))

hello
<class 'str'>

In [93]:
new_tup = ("hello",)
print(new_tup)
print(type(new_tup))

('hello',)
<class 'tuple'>

In [94]:
new_tup = tuple("hello")
print(new_tup)
print(type(new_tup))

('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

### Indexing in Tuple

In [96]:
my_tup

('hello', 20, 30, 40, True)

In [97]:
my_tup[4]

True

In [98]:
my_tup[1]

20

### Slicing in Tuple

In [101]:
my_tup

('hello', 20, 30, 40, True)

In [102]:
my_tup[0:2]

('hello', 20)

In [103]:
my_tup[2:5]

(30, 40, True)

In [105]:
my_tup[1:5:2]

(20, 40)

### Nested Tuple

In [106]:
nest_tup = (
    ("hello","hi","bye"),
    ("python","java","pascel"),
    (22,33,44,55)
)

nest_tup

(('hello', 'hi', 'bye'), ('python', 'java', 'pascel'), (22, 33, 44, 55))

In [107]:
len(nest_tup)

3

In [108]:
nest_tup[1][0]

'python'

### Mixed Data Structure

In [109]:
mixed = (
    ['cricket','volleyball','kabaddi'],
    [55.4,66.9,22.8],
    [True,False]
)

mixed

(['cricket', 'volleyball', 'kabaddi'], [55.4, 66.9, 22.8], [True, False])

In [110]:
len(mixed)

3

In [111]:
mixed[0]

['cricket', 'volleyball', 'kabaddi']

In [112]:
mixed[0].append('badminton')

In [113]:
mixed

(['cricket', 'volleyball', 'kabaddi', 'badminton'],
 [55.4, 66.9, 22.8],
 [True, False])

In [114]:
len(mixed)

3

In [115]:
mixed_1 = [
    ("hello","hi","bye"),
    (23,45.5,66.5),
    ("India","Japan","SA")
]
mixed_1

[('hello', 'hi', 'bye'), (23, 45.5, 66.5), ('India', 'Japan', 'SA')]

In [116]:
len(mixed_1)

3

In [117]:
mixed_1[2]

('India', 'Japan', 'SA')

In [118]:
mixed_1[2].append("US")

AttributeError: 'tuple' object has no attribute 'append'

In [120]:
mixed_1[2][2] = "US"

TypeError: 'tuple' object does not support item assignment

In [121]:
mixed_1.append("WOW!")

In [122]:
mixed_1

[('hello', 'hi', 'bye'),
 (23, 45.5, 66.5),
 ('India', 'Japan', 'SA'),
 'WOW!',
 'WOW!']

In [123]:
len(mixed_1)

5

## Dictionary In Python

In [124]:
my_dict = {"name" : "Dharmesh",
          "age" : 21,
          }
print(my_dict)

{'name': 'Dharmesh', 'age': 21}

In [125]:
type(my_dict)

dict

In [126]:
mixed_dict = {'city' : 'Mumbai',
             10.19 : 'This is a float',
             True : 'This is a boolean'
             }
mixed_dict

{'city': 'Mumbai', 10.19: 'This is a float', True: 'This is a boolean'}

In [127]:
mixed_dict[True]

'This is a boolean'

In [128]:
mixed_dict['city']

'Mumbai'

In [130]:
# imp example

new_dict = {1 : "this is int",
           1.0 : "this is float",
           True : "this is bool"
           }
print(new_dict)

{1: 'this is bool'}

In [131]:
print(new_dict[1])
print(new_dict[1.0])
print(new_dict[True])

this is bool
this is bool
this is bool

In [132]:
hash(1), hash(1.0), hash(True)

(1, 1, 1)

### Functions In Dictionary

In [142]:
mixed_dict = {'city' : 'Mumbai',
              5 : 'this is int',
             10.19 : 'This is float',
             True : 'This is bool'
             }
mixed_dict

{'city': 'Mumbai',
 5: 'this is int',
 10.19: 'This is float',
 True: 'This is bool'}

In [143]:
# keys() -  a set-like object providing a view on D's keys.

mixed_dict.keys()

dict_keys(['city', 5, 10.19, True])

In [144]:
# values() - an object providing a view on D's values.

mixed_dict.values()

dict_values(['Mumbai', 'this is int', 'This is float', 'This is bool'])

In [145]:
# items() - a set-like object providing a view on D's items.

mixed_dict.items()

dict_items([('city', 'Mumbai'), (5, 'this is int'), (10.19, 'This is float'), (True, 'This is bool')])

In [146]:
mixed_dict

{'city': 'Mumbai',
 5: 'this is int',
 10.19: 'This is float',
 True: 'This is bool'}

In [147]:
# pop() - remove specified key and return the corresponding value.

mixed_dict.pop()

TypeError: pop expected at least 1 argument, got 0

In [148]:
mixed_dict.pop(True)

'This is bool'

In [149]:
mixed_dict

{'city': 'Mumbai', 5: 'this is int', 10.19: 'This is float'}

In [151]:
# popitem() - Remove and return a (key, value) pair as a 2-tuple.

mixed_dict.popitem()

(10.19, 'This is float')

In [152]:
mixed_dict

{'city': 'Mumbai', 5: 'this is int'}

In [153]:
# update() - Update D from dict/iterable.

mixed_dict.update({'city':'navi mumbai'})
mixed_dict

{'city': 'navi mumbai', 5: 'this is int'}

In [154]:
mixed_dict.update({'pincode':410218})
mixed_dict

{'city': 'navi mumbai', 5: 'this is int', 'pincode': 410218}

In [155]:
# setdefault() - Insert key with a value of default if key is not in the dictionary.

mixed_dict.setdefault('gender')
mixed_dict

{'city': 'navi mumbai', 5: 'this is int', 'pincode': 410218, 'gender': None}

In [156]:
# copy()

copied = mixed_dict.copy()
copied

{'city': 'navi mumbai', 5: 'this is int', 'pincode': 410218, 'gender': None}

In [157]:
copied.update({'gender': 'male'})
print(copied)
print(mixed_dict)

{'city': 'navi mumbai', 5: 'this is int', 'pincode': 410218, 'gender': 'male'}
{'city': 'navi mumbai', 5: 'this is int', 'pincode': 410218, 'gender': None}

In [158]:
# get() - Return the value for key if key is in the dictionary, else default.

mixed_dict.get('city')

'navi mumbai'

### Nested Dictionary

In [159]:
fb_data = {
    1011 : {'name' : 'dharmesh',
           'age' : 21,
           'likes' : 150,
           'friends' : 200},
    1012 : {'name' : 'ramesh',
           'age' : 24,
           'likes' : 180,
           'friends' : 250},
    1013 : {'name' : 'suresh',
           'age' : 23,
           'likes' : 230,
           'friends' : 280}
}
fb_data

{1011: {'name': 'dharmesh', 'age': 21, 'likes': 150, 'friends': 200},
 1012: {'name': 'ramesh', 'age': 24, 'likes': 180, 'friends': 250},
 1013: {'name': 'suresh', 'age': 23, 'likes': 230, 'friends': 280}}

In [161]:
fb_data[1012]

{'name': 'ramesh', 'age': 24, 'likes': 180, 'friends': 250}

In [162]:
fb_data[1012]['likes']

180

In [163]:
fb_data[1011].update({'hobbies' : ['cricket','volleyball']})

In [166]:
fb_data

{1011: {'name': 'dharmesh',
  'age': 21,
  'likes': 150,
  'friends': 200,
  'hobbies': ['cricket', 'volleyball']},
 1012: {'name': 'ramesh', 'age': 24, 'likes': 180, 'friends': 250},
 1013: {'name': 'suresh', 'age': 23, 'likes': 230, 'friends': 280}}

In [167]:
fb_data[1011]['hobbies'][1]

'volleyball'

## Sets In Python

In [168]:
my_set = {99.9, 'hello', '100', False}
print(my_set)
print(type(my_set))

{False, 99.9, 'hello', '100'}
<class 'set'>

### Functions In Sets

In [170]:
#set()

set([2,3,4,5,2]), set((2,3,4,5,2))

({2, 3, 4, 5}, {2, 3, 4, 5})

In [172]:
my_set

{100, '100', 99.9, False, 'hello'}

In [173]:
# add() - Add an element to a set.

my_set.add(100)
my_set

{100, '100', 99.9, False, 'hello'}

In [174]:
my_set.add(100)
my_set

{100, '100', 99.9, False, 'hello'}

In [175]:
# pop() - Remove and return an arbitrary set element.

my_set.pop()
my_set

{100, '100', 99.9, 'hello'}

In [176]:
my_set.pop(99.9)
my_set

TypeError: pop() takes no arguments (1 given)

In [177]:
# remove() - Remove an element from a set; it must be a member.

my_set.remove('100')
my_set

{100, 99.9, 'hello'}

In [178]:
# clear() - Remove all elements from this set.

my_set.clear()
my_set

set()

In [179]:
my_set = {'hello', 'hi', 'bye', 44, 65.90, 99, False, True}
my_set

{44, 65.9, 99, False, True, 'bye', 'hello', 'hi'}

In [180]:
set_list = list(my_set)
set_list

[False, 65.9, True, 99, 'bye', 44, 'hello', 'hi']

In [181]:
# copy()

res = my_set.copy()
res

{44, 65.9, 99, False, True, 'bye', 'hello', 'hi'}

In [182]:
my_set.remove('hi')
print(my_set)
print(res)

{False, 65.9, True, 99, 'bye', 44, 'hello'}
{False, 65.9, True, 99, 'bye', 44, 'hello', 'hi'}

In [184]:
set1 = {100, 200, 300, 'bye', 500}
set2 = {'hello', 'hi', 'bye', 200}
print(set1,set2)

{100, 'bye', 200, 300, 500} {'bye', 'hello', 'hi', 200}

In [185]:
# intersection() - Return the intersection of two sets as a new set.

set1.intersection(set2)

{200, 'bye'}

In [186]:
set2.intersection(set1)

{200, 'bye'}

In [187]:
# union() - Return the union of sets as a new set.

set1.union(set2)

{100, 200, 300, 500, 'bye', 'hello', 'hi'}

In [188]:
set2.union(set1)

{100, 200, 300, 500, 'bye', 'hello', 'hi'}

In [189]:
set1

{100, 200, 300, 500, 'bye'}

In [190]:
set2

{200, 'bye', 'hello', 'hi'}

In [191]:
# update() - Update a set with the union of itself and others.

set1.update(set2)

In [198]:
set1 = {100, 200, 300, 'bye'}

In [205]:
set2 = {200, 'bye', 'hello', 'hi'}

In [206]:
# difference() - Return the difference of two or more sets as a new set.

set1.difference(set2)

{100, 300}

In [207]:
set2.difference(set1)

{'hello', 'hi'}

In [208]:
# discard() - Remove an element from a set if it is a member.

set1.discard(300)

In [209]:
set1

{100, 200, 'bye'}

In [210]:
s1 = {'a','b','c','d','e'}
s2 = {'f','g','h','i','d','e','c','b','a'}
s1,s2

({'a', 'b', 'c', 'd', 'e'}, {'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'})

In [211]:
# issubset() - Report whether another set contains this set.

s1.issubset(s2)

True

In [212]:
s2.issubset(s1)

False

In [213]:
# issuperset() - Report whether this set contains another set.

s1.issuperset(s2)

False

In [214]:
s2.issuperset(s1)

True

In [215]:
# isdisjoint() - Return True if two sets have a null intersection.

s1.isdisjoint(s2)

False

In [216]:
s2.isdisjoint(s1)

False

In [217]:
ss1 = {'apple', 'banana', 'mango'}
ss2 = {'tomato', 'chilli', 'garlic'}
ss1.isdisjoint(s2)

True

In [218]:
ss2.isdisjoint(ss1)

True

In [219]:
s1, s2

({'a', 'b', 'c', 'd', 'e'}, {'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'})

In [220]:
# symmetric_difference() - Return the symmetric difference of two sets as a new set.a

s1.symmetric_difference(s2)

{'f', 'g', 'h', 'i'}

In [221]:
s2.symmetric_difference(s1)

{'f', 'g', 'h', 'i'}