# Introduction To Python

Python is a general-purpose, integrated, interactive, high-level, object-oriented programming language.

It was created by "Guido Van Rossum" during "1985-1990" (1991).

## Features of Python

1. Easy to learn, read, write and maintain.
2. A broad standard library.
3. Interactive, Portable, Extendable, Scalable.
4. Database, GUI Programing, Data Science, AI & ML.

### Interactive Interpreter

You can start python from UNIX, DOS or any other system that provides you Command-line Interpreter or Shell Window.

### Print Statement

The print() function prints the specified message to the screen, or other standard output device.

The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [2]:
print("Hey....I'm Python")

Hey....I'm Python

In [3]:
print('Hello Im new message')

Hello Im new message

In [4]:
print(1+3)

4

### Quotation

Quotation symbols are used to create string object in Python.

Python recognizes single, double and triple quoted strings.

String literals are written by enclosing a sequence of characters in single quotes ('hello'), double quotes ("hello") or triple quotes ('''hello''' or """hello""")

In [5]:
print('hello')

hello

In [6]:
print("hello")

hello

In [7]:
print("""hello""")

hello

In [8]:
print('who's standing there?)

SyntaxError: invalid syntax (<ipython-input-8-36fecd4738d1>, line 1)

In [9]:
print('who''s standing there?')

whos standing there?

In [10]:
print("who's standing there?")

who's standing there?

In [14]:
print('who\'s standing there?')

who's standing there?

### Block Quotes

In [15]:
print("'Steve Jobs Said: ' "Stay Hungry Stay Foolish!")

SyntaxError: invalid syntax (<ipython-input-15-689dab78e2b0>, line 1)

In [16]:
print("""
'Steve Jobs said: ' "Stay Hungry Stay Foolish!"
""")

'Steve Jobs said: ' "Stay Hungry Stay Foolish!"

### Variables

Variables are named containers for storing data values. Any piece of information that we wish to reference multiple times can be stored in a variable for later use.

Variables are Named Location given by user.

1. It should not start with number.
2. No reserved keywords should be used.
3. It should not contain special character at the start.
4. It should not contain any spaces.
5. Special characters such as "_" can be used in between

In [17]:
number_one = 40       #assigning of variables

In [18]:
print(number_one)

40

In [19]:
print(id(number_one))    #accessing the address

140718789831696

## Data Types in Python

Data types are the classification or categorization of data items.

It represents the kind of value that tells what operations can be performed on a particular data.

Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

1. integer (int) - Any number which is whole number (+ve/-ve).
2. float (float) - Any decimal number (+ve/-ve).
3. string (str) - Collection of characters,numbers & special symbols.
4. boolean (bool) - Which is True/False.
5. complex - Which is imaginery number.

### Integer

In [20]:
age = 21
print(age)
print(type(age))

21
<class 'int'>

In [21]:
loan = -200
print(loan)
print(type(loan))

-200
<class 'int'>

### Float

In [22]:
number = 99.89
print(number)
print(type(number))

99.89
<class 'float'>

In [23]:
num_loan = -459.98
print(num_loan)
print(type(num_loan))

-459.98
<class 'float'>

### String

In [28]:
name = "dharmesh"
print(name)
print(type(name))

dharmesh
<class 'str'>

### Boolean

In [29]:
result = True
print(result)
print(type(result))

True
<class 'bool'>

In [30]:
result1 = False
print(result1)
print(type(result1))

False
<class 'bool'>

### Complex Numbers

In [31]:
num = 5+10j
print(num)
print(type(num))

(5+10j)
<class 'complex'>

In [32]:
num = complex(5+10j)
print(num)
print(type(num))

(5+10j)
<class 'complex'>

## Arithmetic Operators

    1. +  => add
    2. -  => sub
    3. *  => mul
    4. /  => div
    5. // => floor div
    6. %  => mod

In [33]:
3+3

6

In [34]:
6+6

12

In [35]:
4.5 + 6

10.5

In [36]:
49 - 23

26

In [37]:
60.34 - 37

23.340000000000003

In [38]:
5*4

20

In [39]:
5.9*3

17.700000000000003

In [40]:
10/2

5.0

In [41]:
20/3

6.666666666666667

In [42]:
10//2

5

In [43]:
20//3

6

In [44]:
10%3

1

In [45]:
20%3

2

## Logical Operators

1. and - All statements are true.
2. or - Any one statement is true.
3. not - All statements are false.

## String In Python

String is a collection of alphabets, words or other characters. It is one of the primitive data structures and are the building blocks for data manipulation.

Python has a built-in string class named str . Python strings are "immutable" which means they cannot be changed after they are created.

1. String is a set of characters, special characters, symbols and numbers.
2. It is enclosed with in single or double quote.
3. The vlaue of the string once defined cannot be changed (Immutable).

In [46]:
fruit = 'Banana'

In [47]:
print(fruit)
print(type(fruit))

Banana
<class 'str'>

### String Functions

In [48]:
# upper() : Return a copy of the string converted to uppercase.

fruit.upper()

'BANANA'

In [49]:
# lower() : Return a copy of the string converted to lowercase.

fruit.lower()

'banana'

In [50]:
# capitalize() : Return a capitalized version of the string.

name = 'dharmesh vishwakarma'
name.capitalize()

'Dharmesh vishwakarma'

In [51]:
# title() : Return a version of the string where each word is titlecased.

name.title()

'Dharmesh Vishwakarma'

In [52]:
# islower() : Return True if the string is a lowercase string, False otherwise.

fruit.islower()

False

In [53]:
name.islower()

True

In [54]:
# isupper() : Return True if the string is an uppercase string, False otherwise.

fruit.isupper()

False

In [55]:
# center() : Return a centered string of length width.

fruit.center(50)

'                      Banana                      '

In [56]:
# lstrip() : Return a copy of the string with leading whitespace removed.
demo = '                      Banana                      '
demo.lstrip()

'Banana                      '

In [57]:
# rstrip() : Return a copy of the string with trailing whitespace removed.

demo.rstrip()

'                      Banana'

In [58]:
# strip() : Return a copy of the string with leading and trailing whitespace removed.

demo.strip()

'Banana'

In [59]:
fruit = 'pineapple'

In [60]:
# count() : Return the number of non-overlapping occurrences of substring sub in string.

fruit.count('p')

3

In [61]:
fruit.count('e')

2

In [62]:
fruit.count('apple')

1

In [63]:
# index() : Return the lowest index in string where substring is found.

fruit.index('a')

4

In [64]:
fruit.index('pine')

0

In [65]:
# casefold() : Return a version of the string suitable for caseless comparisons.

message = "Hello Welcome to Python Class"

message.casefold()

'hello welcome to python class'

In [66]:
# swapcase() : Convert uppercase characters to lowercase and lowercase characters to uppercase.

message.swapcase()

'hELLO wELCOME TO pYTHON cLASS'

In [67]:
# replace() : Return a copy with all occurrences of substring old replaced by new.

message.replace('Python','Java')

'Hello Welcome to Java Class'

In [68]:
message

'Hello Welcome to Python Class'

In [69]:
message.replace('o','a')

'Hella Welcame ta Pythan Class'

In [70]:
message

'Hello Welcome to Python Class'

In [71]:
# find() : Return the lowest index in string where substring is found.

msg = "hello welcome to my world, my world is my home"

msg.find('world')

20

In [72]:
msg.find('l')

2

In [73]:
msg.find('dummy')

-1

In [74]:
msg.index('l')

2

In [75]:
msg.index('dummy')

ValueError: substring not found

In [77]:
# isalpha() : Return True if the string is an alphabetic string, False otherwise.

msg.isalpha()

False

In [76]:
msg

'hello welcome to my world, my world is my home'

In [78]:
fruit.isalpha()

True

In [79]:
fruit

'pineapple'

In [80]:
# isalnum() : Return True if the string is an alpha-numeric string, False otherwise

msg.isalnum()

False

In [81]:
fruit.isalnum()

True

In [82]:
num = '3453'
num.isalnum()

True

In [83]:
# isdigit() : Return True if the string is a digit string, False otherwise.

num.isdigit()

True

In [84]:
fruit.isdigit()

False

In [85]:
alnum = 'num234'
alnum.isdigit()

False

In [86]:
# isspace() : Return True if the string is a whitespace string, False otherwise.

txt = " "

txt.isspace()

True

In [87]:
fruit.isspace()

False

In [88]:
msg.isspace()

False

In [89]:
# rpartition() : Partition the string into three parts using the given separator.

text = "I like eating Icecream all day, chocolate is my fav Icecream"

text.rpartition('Icecream')

('I like eating Icecream all day, chocolate is my fav ', 'Icecream', '')

In [90]:
msg = "I could eat banana all day, banana is my fav fruit"

msg.rpartition("banana")

('I could eat banana all day, ', 'banana', ' is my fav fruit')

In [91]:
# rindex() : Return the highest index in string where substring is found.

msg.rindex("banana")

28

In [92]:
msg.index("banana")

12

In [93]:
# startwith() : Return True if string starts with the specified prefix, False otherwise.

msg.startswith("I")

True

In [94]:
msg.startswith("i")

False

In [95]:
# endswith() : Return True if string ends with the specified suffix, False otherwise.

msg.endswith("fruit")

True

In [96]:
msg.endswith("Fruit")

False

In [97]:
# format() : Return a formatted version of string, using substitutions from args and kwargs.

data = "My name is {fname} and my age is {age}"

data.format(fname = 'pradeep',age = 26)

'My name is pradeep and my age is 26'

### Indexing

String indexing in Python is zero-based: the first character in the string has index 0 , the next has index 1 , and so on. 

The index of the last character will be the length of the string minus one.

In [98]:
fruit = 'pineapple'

In [99]:
# inddexing

fruit[1]

'i'

In [100]:
fruit[5]

'p'

In [101]:
fruit[-1]

'e'

### Slicing

Python also allows a form of indexing syntax that extracts substrings from a string. It's known as string slicing.

The syntax that you use looks really similar to indexing. Instead of just one value being put in the square brackets, you put two with a colon ( : ) in between the two.

In [102]:
# slicing

fruit[0:4]

'pine'

In [103]:
fruit[:8]

'pineappl'

In [104]:
fruit[2:]

'neapple'

### Input from the user in Python

In [105]:
name = input("Enter your name :")
print(name)

Enter your name :dharmesh
dharmesh

In [106]:
print(type(name))

<class 'str'>

In [107]:
age = int(input("Enter your age :"))
print(age)
print(type(age))

Enter your age :22
22
<class 'int'>

## Sample Program

In [108]:
inp_name = input("Enter your name :")
inp_age = int(input("Enter your age :"))
print(inp_name)
print(inp_age)

Enter your name :dharmesh
Enter your age :22
dharmesh
22

### String Concatenation

In [109]:
fname = "dharmesh"
lname = "vishwakaram"

In [110]:
fname + lname

'dharmeshvishwakaram'

In [111]:
fname +' '+ lname

'dharmesh vishwakaram'

In [112]:
print(fname,lname)

dharmesh vishwakaram

In [113]:
name = input("Enter your full name :")
age = int(input("Enter your age :"))
print("My name is",name,"and my age is",age)

Enter your full name :dharmesh vishwakarma
Enter your age :22
My name is dharmesh vishwakarma and my age is 22

In [114]:
#split() : Return a list of the words in the string, using sep as the delimiter string.

hobies = "cricket,hockey,kabaddi,badminton"
hobies

'cricket,hockey,kabaddi,badminton'

In [115]:
hobies.split(",")

['cricket', 'hockey', 'kabaddi', 'badminton']

In [116]:
#splitlines() : Return a list of the lines in the string, breaking at line boundaries.

city = "mumbai\npune\nnagpur\nnashik"
city

'mumbai\npune\nnagpur\nnashik'

In [117]:
city.splitlines()

['mumbai', 'pune', 'nagpur', 'nashik']

In [118]:
# join()

' '.join(['my','name','is','dharmesh'])

'my name is dharmesh'